<p>sanguoyanyi.txt</p><p>角得此書，曉夜攻習，能呼風喚雨，號為太平道人。中平元年正月內，疫氣流行，張角散施符水，為人治病，自稱大賢良師。角有徒弟五百餘人，雲游四方，皆能書符念咒。次後徒眾日多，角乃立三十六方，─大方萬餘人，小方六七千─，各立渠帥，稱為將軍。訛言「蒼天已死，黃天當立。」又云「歲在甲子，天下大吉。」令人各以白土，書「甲子」二字於家中大門上。青、幽、徐、冀、荊、揚、兗、豫八州之人，家家侍奉大賢良師張角名字。角遣其黨馬元義，暗齎金帛，結交中涓封諝，以為內應。角與二弟商議曰：「至難得者，民心也。今民心已順，若不乘勢取天下，誠為可惜。」遂一面私造黃旗，約期舉事；一面使弟子唐州，馳書報封諝。唐州乃逕赴省中告變。帝召大將軍何進調兵擒馬元義，斬之；次收封諝等一干人下獄。
</p><p>飛曰：「吾莊後有一桃園，花開正盛；明日當於園中祭告天地，我三人結為兄弟，協力同心，然後可圖大事。」玄德、雲長、齊聲應曰：「如此甚好。」次日，於桃園中，備下烏牛白馬祭禮等項，三人焚香，再拜而說誓曰：「念劉備、關羽、張飛，雖然異姓，既結為兄弟，則同心協力，救困扶危；上報國家，下安黎庶；不求同年同月同日生，但願同年同月同日死。皇天后土，實鑒此心。背義忘恩，天人共戮。」誓畢，拜玄德為兄，關羽次之，張飛為弟。祭罷天地，復宰牛設酒，聚鄉中勇士，得三百餘人，就桃園中痛飲一醉。來日收拾軍器，但恨無馬匹可乘。
</p><p>正思慮間，人報「有兩個客人，引一夥伴儅，趕一群馬，投莊上來。」玄德曰：「此天佑我也！」三人出莊迎接。原來二客乃中山大商：一名張世平，一名蘇雙，每年往北販馬，近因寇發而回。玄德請二人到莊，置酒管待，訴說欲討賊安民之意。二客大喜，願將良馬五十匹相送；又贈金銀五百兩，鑌鐵一千斤，以資器用。玄德謝別二客，便命良匠打造雙股劍。雲長造青龍偃月刀，又名冷豔鋸，重八十二斤。張飛造丈八點鋼矛。各置全身鎧甲。共聚鄉勇五百餘人，來見鄒靖。鄒靖引見太守劉焉。三人參見畢，各通姓名。玄德說起宗派，劉焉大喜，遂認玄德為姪。
</p><p>呂布見了，棄了公孫瓚，便戰張飛。飛抖擻精神，酣戰呂布。連鬥五十餘合，不分勝負。雲長見了，把馬一拍，舞八十二斤青龍偃月刀，來夾攻呂布。三匹馬丁字兒廝殺。戰到三十合，戰不倒呂布。劉玄德掣雙股劍，驟黃鬃馬，刺斜裏也來助戰。
</p><p>卻說袁紹輸了一陣，堅守不出。兩軍相拒月餘，有人來長安報知董卓。李儒對卓曰：「袁紹與公孫瓚，亦當今豪傑。見在磐河廝殺，宜假天子之詔，差人往和解之。二人感德，必順太師矣。」卓大喜。次日便使太傅馬日磾、太僕趙岐，齎詔前去。二人來至河北，紹出迎於百里之外，再拜奉詔。次日二人至瓚營宣諭，瓚乃遣使致書於紹，互相講和；二人自回京復命。瓚即日班師，又表薦劉玄德為平原相。玄德與趙雲分別，執手垂淚，不忍相離。雲歎曰：「某日誤認公孫瓚為英雄；今觀所為，亦袁紹等輩耳！」玄德曰：「公且屈身事之，相見有日。」灑淚而別。
</p><p>布聽之，不從所請，攻城愈急。玄德與麋竺、孫乾商議。孫乾曰：「曹操所恨者，呂布也。不若棄城走許都，投奔曹操，借軍破布，此為上策。」玄德曰：「誰可當先破圍而出？」飛曰：「小弟情願死戰。」玄德令飛在前；雲長在後；自居其中，保護老少。當夜三更，乘著月明出北門而走，正遇宋憲、魏續，被翼德一陣殺退，得出重圍。後面張遼趕來，關公敵住。呂布見玄德去了，也不來趕，隨即入城安民，令高順守小沛，自己仍回徐州去了。
</p><p>正說間，適曹操命使來請關公赴宴。公辭二嫂，往見操。操見公有淚容，問其故。公曰：「二嫂思兄痛哭，不由某心不悲。」操笑而寬解之，頻以酒相勸。公醉，自綽其髯而言曰：「生不能報國家，而背其兄，徒為人也！」操問曰：「雲長髯有數乎？」公曰：「約數百根。每秋月約退三五根。冬月多以皂紗囊裹之，恐其斷也。」操以紗錦作囊，與關公護髯。次日，早朝見帝。帝見關公一紗錦囊垂於胸次，帝問之。關公奏曰：「臣髯頗長,丞相賜囊貯之。」帝令當殿披拂，過於其腹。帝曰：「真美髯公也！」因此人皆呼為美髯公。
</p><p>元紹怏怏而別。周倉跟著關公，往汝南進發。行了數日，遙見一座山城。公問土人：「此何處也？」土人曰：「此名古城。數月前有一將軍，姓張，名飛，引數十騎到此，將縣官逐去，占住古城，招軍買馬，積草屯糧。今聚有三五千人馬，四遠無人敢敵。」關公喜曰：「吾弟自徐州失散，一向不知下落，誰想卻在此！」乃令孫乾先入城通報，教來迎接二嫂。卻說張飛在芒碭山中，住了月餘，因出外探聽玄德消息，偶過古城，入縣借糧；縣官不肯，飛怒，因就逐去縣官，奪了縣印，占住城池，權且安身。當日孫乾領關公命，入城見飛。施禮畢，具言：「玄德離了袁紹處，投汝南去了。今雲長直從許都送二位夫人至此，請將軍出迎。」
</p><p>時天色己晚，濃雲密布，又無月色；晝風既起，夜風愈大。夏侯惇只顧催軍趕殺。于禁、李典趕到窄狹處，兩邊都是蘆葦。典謂禁曰：「欺敵者必敗。南道路狹，山川相逼，樹木叢雜，倘彼用火攻，奈何？」禁曰：「君言是也。吾當往前為都督言之。君可止住後軍。」李典便勒回馬，大叫：「後軍慢行！」人馬走發，那裡攔當得住。于禁驟馬大叫：「前軍都督且住！」
</p><p>昭曰：「若此，是先生言行相違也。先生自比管、樂。管仲相桓公，霸諸侯，一匡天下；樂毅扶持微弱之燕，下齊七十餘城；此二人者，真濟世之才也。先生在草廬之中，但笑傲風月，抱膝危坐；今既從事劉豫州，當為生靈興利除害，剿滅亂賊。且劉豫州未得先生之時，尚且縱橫寰宇，割據城池；今得先生，人皆仰望；雖三尺童蒙，亦謂彪虎生翼，將見漢室復興，曹氏即滅矣；朝廷舊臣，山林隱士，無不拭目而待：以為拂高天之雲翳，仰日月之光輝，拯斯民於水火之中，措天下於衽席之上，在此時也。何先生自歸豫州，曹兵一出，棄甲拋戈，望風而竄；上不能報劉表以安庶民，下不能輔孤子而據疆土；乃棄新野，走樊城，敗當陽，奔夏口，無容身之地？是豫州既得先生之後，反不如其初也。管仲、樂毅，果如是乎？愚直之言，幸勿見怪！」
</p><p>玄德別了周瑜，與雲長等來至江邊，只見孔明已在舟中。玄德大喜。孔明曰：「主公知今日之危乎？」玄德愕然曰：「不知也。」孔明曰：「若無雲長，主公幾為周瑜所害矣。」玄德方纔省悟，便請孔明同回樊口。孔明曰：「亮雖居虎口，安如泰山。今主公但收拾船隻軍馬候用，以十一月二十甲子日後為期，可令子龍駕小舟來南岸邊等候。切勿有誤。」
</p><p>陳應謝罪，抱頭鼠竄，回到城中，對趙範盡言其事。範曰：「我本欲降，汝強要戰，以致如此。」遂叱退陳應，齎捧印綬，引十數騎出城投大寨納降。雲出寨迎接，待以賓禮，置酒共飲，納了印綬。酒至數巡，範曰：「將軍姓趙，某亦姓趙。五百年前，合是一家。將軍乃真定人，，某亦真定人，又是同鄉。倘得不棄，結為兄弟，實為萬幸。」雲大喜，各敘年庚。雲與範同年。雲長範四個月，範遂拜雲為兄。二人同鄉，同年，又同姓，十分相得。至晚席散，範辭回城。
</p><p>正言間，忽報公子劉琦病亡。玄德聞之，痛哭不已。孔明勸曰：「生死分定，主公勿憂，恐傷貴體，且理大事。可急差人到彼守禦城池，並料理葬事。」玄德曰：「誰可去？」孔明曰：「非雲長不可。」即時便教雲長前去襄陽保守。玄德曰：「今日劉琦已死，東吳必來討荊州，如何對答？」孔明曰：「若有人來，亮自有言對答。」過了半月，人報東吳，魯肅等來弔喪。正是：先將計策安排定，只等東吳使命來。未知孔明如何對答，且看下文分解。
</p><p>時建安十四年冬十月。玄德與趙雲，孫乾取快船十隻，隨行五百餘人，離了荊州，前往南徐進發。荊州之事，皆聽孔明裁處。玄德心中怏怏不安。到南徐，適船已傍岸。雲曰：「軍師分付三條妙計，依次而行。今已而此，當先開第一個錦囊來看。」
</p><p>兩個商議已定。玄德密喚趙雲分付：「正旦日，你先引軍士出城，於官道等候。吾推祭祖，與夫人同走。」雲領諾。建安十五年春正月元旦，吳侯大會文武於堂上。玄德與孫夫人入拜國太。孫夫人曰：「夫主想父母宗祖墳墓，俱在涿郡，晝夜傷感不已。今日欲往江邊，望北遙祭，須告母親得知。」國太曰：「此孝道也，豈有不從？汝雖不識舅姑，可同汝夫前去祭拜，亦見為婦之禮。」孫夫人同玄德拜謝而出。
</p><p>時當九月盡，天氣暴冷，彤雲密布，連日不開。曹操在寨中納悶。忽人報曰：「有一老人來見丞相，欲陳說方略。」操請入見。其人鶴骨松姿，形貌蒼古。間之乃京兆人也，隱居終南山，姓婁，字子伯，道號夢梅居士。操以客禮待之，子伯曰：「丞相欲跨渭安營久矣，今何不乘時築之？」操曰：「沙土之地，築壘不成。隱士有何良策賜教？」子伯曰：「丞相用兵如神，豈不知天時乎？連日陰雲布合，朔風一起，必大凍矣。風起之後，驅軍士運土潑水，比乃天明，土城已就。」
</p><p>臨行時，忽廖化引一軍來降。玄德便教廖化輔佐雲長，以拒曹操。是年冬月，引兵望西川進發。行不數程，孟達接著，拜見玄德，說劉益州令某領兵五千遠來迎接。玄德使人入益州，先報劉璋。璋便發書告報沿途州郡，供給錢糧。璋欲自出涪城親接玄德，即下令準備車乘帳幔，旌旗鎧甲，務要鮮明。主簿黃權入諫曰：「主公此去，必被劉備所害。某食祿多年，不忍主公中他人奸計，望三思之。」張松曰：「黃權此言，疏間宗族之義，滋長寇盜之威，實無益於主公。」璋乃叱權曰：「吾意已決，汝何逆吾！」
</p><p>數日之後，孔明與雲長等正坐間，人報關平到。眾官皆驚。關平入，呈上玄德書信。孔明視之，內言：「本年七月初七日，龐軍師被張任在落鳳坡前，箭射身故。」孔明大哭，眾官無不垂淚。孔明曰：「既主公在涪關，進退兩難之際，亮不得不去。」雲長曰：「軍師去，誰人保守荊州？荊州乃重地，干係非輕。」孔明曰：「主公書中雖不明寫其人，吾已知其意了。」乃將玄德書與眾官看曰：「主公書中，把荊州託在吾身上，教我自量才委用。雖然如此，今教關平齎書前來，其意欲雲長公當此重任。雲長想桃園結義之情，可竭力保守此地。責任非輕，公宜勉之。」雲長更不推辭，慨然領諾。孔明設宴，交割印綬。雲長雙手來接。孔明擎著印曰：「這干係都在將軍身上。」雲長曰：「大丈夫既領重任，除死方休。」孔明見雲長說個「死」字，心中不悅；欲待不與，其言已出。孔明曰：「倘曹操引兵來到，當如之何？」雲長曰：「以力拒之。」孔明又曰：「倘曹操，孫權，齊起兵來，如之奈何？」雲長曰：「分兵拒之。」孔明曰：「若如此，荊州危矣。吾有八個字，將軍牢記，可保守荊州。」雲長問那八個字。孔明曰：「北拒曹操，東和孫權。」雲長曰：「軍師之言，當銘肺腑。」
</p><p>卻說軍馬渡江，取和州，逕到皖城。皖城太守朱光，使人往合淝求救；一面固守城池，堅壁不出。權自到城下看時，城上箭如雨發，射中孫權麾蓋。權回寨，問眾將曰：「如何取得皖城？」董襲曰：「可差軍士築起士山攻之。」徐盛曰：「可豎雲梯，造虹橋，下觀城中而攻之。」呂蒙曰：「此法皆費日月而成，合淝救軍一至，不可圖矣。今我軍初到，士氣方銳，正可乘此銳氣，奮力攻擊。來日平明進兵，午未時便當破城。」
</p><p>玄德，孔明，皆深然之，遂傳令趙雲，張飛為先鋒。玄德與孔明親自引兵十萬，擇日圖漢中；傳檄各處，嚴加提備。時建安二十三年，秋七月吉日。玄德大軍出葭萌關下營，召黃忠、嚴顏到寨，厚賞之。玄德曰：「人皆言將軍老矣，惟軍師獨知將軍之能。今果立奇功。但今漢中定軍山，乃南鄭保障，糧草積聚之所；若得定軍山，陽平一路，無足憂矣。將軍還敢取定軍山否﹖」
</p><p>玄德再三推遲不過，只得依允。建安二十四年秋七月，築壇於沔陽，方圓九里，分布五方，各設旌旗儀仗。群臣皆依次序排列。許靖、法正請玄德登壇，進冠冕璽綬訖，面南而坐，受文武官員拜賀為漢中王。子劉禪立為王世子。封許靖為太傅，法正為尚書令。諸葛亮為軍師，總理軍國重事。封關羽、張飛、趙雲、馬超、黃忠為五虎大將軍；魏延為漢中太守。其餘各擬功勳定爵。
</p><p>人傑惟追古解良，士民爭拜漢雲長。桃園一日兄和弟，俎豆千秋帝與王。氣挾風雷無匹敵，志垂日月有光芒。至今廟貌盈天下。古木寒鴉幾夕陽。
</p><p>早有人到成都，報說曹丕自立為大魏皇帝，於洛陽蓋造宮殿；且傳言漢帝已遇害。漢中王聞知，痛哭終日，下令百官挂孝，遙望設祭，上尊諡曰「孝愍皇帝」。玄德因此憂慮，致染成疾，不能理事，政務皆託與孔明。孔明與太傅許靖、光祿大夫譙周商議，言天下不可一日無君，欲尊漢中王為帝。譙周曰：「近有祥風慶雲之瑞；成都西北角有黃氣數十丈沖霄而起，帝星見於畢、胃、昴之分，煌煌如月：此正應漢中王當即帝位，以繼漢統。更復何疑？」
</p><p>先主看畢，擲表於地曰：「朕意已決，無得再諫！」遂命丞相諸葛亮保太子守兩川；驃騎將軍馬超并弟馬岱，助鎮北將軍魏延守漢中，以當魏兵；虎威將軍趙雲為後應，兼督糧草；黃權、程畿為參謀；馬良、陳震掌理文書；黃忠為前部先鋒；馮習、張南為副將；傅彤、張翼為中軍護尉；趙融、廖淳為合後。川將數百員，并五谿番將等，共兵七十五萬。擇定章武元年七月丙寅日出師。
</p><p>卻說章武二年夏六月，東吳陸遜，大破蜀兵於猇亭彝陵之地；先主奔回白帝城，趙雲引兵據守。忽馬良至，見大軍已敗，懊悔不及，將孔明之言，奏知先主。先主歎曰：「朕早聽丞相之言，不致今日之敗！今有何面目復回成都見群臣乎！」遂傳旨就白帝城駐紮，將館驛改為永安宮。人報馮習、張南、傅彤、程畿、沙摩柯等皆歿於王事，先主傷感不已。又近臣奏稱：「黃權引江北之兵，降魏去了。陛下可將彼家屬送有司問罪。」先主曰：「黃權被吳兵隔斷在江北岸，欲歸無路，不得已降魏：是朕負權，非權負朕也。何必罪其家屬？」仍給祿米以養之。
</p><p>卻說先主在永安宮染病不起，漸漸沈重。至章武三年夏四月，先主知病入四肢；又哭關、張二弟，其病愈深，兩目昏花，厭見侍從之人；乃叱退左右，獨臥於龍榻之上。忽然陰風驟起，將燈吹搖，滅而復明。只見橙影之下，二人侍立。先主怒曰；「朕心緒不寧，教汝等且退，何故又來！」叱之不退。先主起而視之：上首乃雲長，下首乃翼德也。先主大驚曰：「二弟原來尚在！」雲長曰：「臣等非人，乃是鬼也。上帝以臣二人平生不失信義，皆敕命為神。哥哥與兄弟聚會不遠矣。」
</p><p>先主謂眾官曰：「朕已託孤於丞相，令嗣子以父事之。卿等俱不可怠慢，以負朕望。」又囑趙雲曰：「朕與卿於患難之中，相從到今，不想於此地分別。卿可想朕故交，早晚看覷吾子，勿負朕言。」雲泣拜曰：「臣敢不效犬馬之勞！」先主又謂眾官曰：「卿等眾官，朕不能一一分囑，願皆自愛。」言畢，駕崩，壽六十三歲：時章武三年四月二十四日也。後杜工部有詩歎曰：蜀主窺吳向三峽，崩年亦在永安宮。翠華想在空山外，玉殿虛無野室中。古廟杉松巢水鶴，歲時伏臘走村翁。武侯祠屋長鄰近，一體君臣祭祀同。
</p><p>卻說魏王駕龍舟至廣陵，前部曹真已領兵列於大江之岸。曹丕問曰：「江岸有多少兵？」真曰：「隔岸遠望，並不見一人，亦無旌旗營寨。」丕曰：「此必詭計也。朕自往觀其虛實。」於是大開江道，放龍舟直至大江，泊於江岸。船上建龍鳳日月五色旌旗，鑾儀簇擁，光耀射目。曹丕端坐舟中，遙望江南，不見一人，回顧劉曄、蔣濟曰：「可渡江否？」曄曰：「兵法實實虛虛。彼見大軍至，如何不作整備？陛下未可造次。且待三五日，看其動靜，然後發先鋒渡江以探之。」丕曰：「卿言正合朕意。」是日天晚，宿於江中。當夜月黑。軍士皆執燈火，明耀天地，恰如白晝。遙望江南，並不見半點兒火光。丕問左右曰：「此何故也？」近臣奏曰：「想聞陛下天兵來到，故望風逃竄耳。」丕暗笑。及至天曉，大霧迷漫，對面不見。須臾風起，霧散雲收，望見江南一帶皆是連城；城樓上鎗刀耀日，遍城盡插旌旗號帶。頃刻數次人來報：「南徐沿江一帶，直至石頭城：一連數百里，城郭舟車，連綿不絕，一夜成就。」曹丕大驚。原來徐盛束縛蘆葦為人，盡穿青衣，執旌旗，立於假城疑樓之上。魏兵見城上許多人馬，如何不膽寒？丕歎曰：「魏雖有武士千群，無所用之。江南人物，未可圖也！」正驚訝間，忽然狂風大作，白浪滔天，江水濺濕龍袍，大船將覆。曹真慌令文聘撐小舟急來救駕。龍舟上人站立不住。文聘跳上龍舟，負丕下得小舟，奔入河港。忽流星馬報道：「趙雲引兵出陽平關，逕取長安。」丕聽得，大驚失色，便教收軍。眾軍各自奔走。背後吳兵追至。丕傳旨教盡棄御用之物而走。龍舟將次入淮，忽然鼓角齊鳴，喊聲大震，刺斜裏一彪軍殺到；為首大將，乃孫韶也。魏兵不能抵當，折其大半，渰死者無數。
</p><p>趙雲、魏延各生擒幾人，回到本寨，以酒食待之，卻細問其故。蠻兵告曰：「前面是金環三結元帥大寨，正在山口。寨邊東西兩路，卻通五溪洞并董荼那、阿會喃各寨之後。」趙雲、魏延聽知此話，遂點精兵五千，教擒來蠻兵引路。比及起身時，已是二更天氣；月明星朗，趁著月色而行。剛到金環三結大寨之時，約有四更，蠻兵方起造飯，準備天明廝殺。忽然趙雲、魏延兩路殺入，蠻兵大亂。趙雲直殺入中軍，正逢金環三結元帥；交馬只一合，被雲一鎗刺落馬下，就梟其首級。餘軍潰散。魏延便分兵一半，望東路抄董荼那寨來。趙雲分兵一半，望西路抄阿會喃寨來。比及殺到蠻兵大寨之時，天已平明。先說魏延殺奔董荼那寨來；董荼那聽知寨後有軍殺至，便引兵出寨拒敵。忽然寨前門一聲喊起，蠻兵大亂。原來王平軍馬早已到了。兩下夾攻，蠻兵大敗。董荼那奪路走脫，魏延追趕不上。
</p><p>獲大驚，急奔左隊時，火光衝天，一彪軍殺到，為首蜀將乃是魏延。獲慌忙望右隊而來，只見火光又起，又一彪軍殺到，為首蜀將乃是趙雲。三路軍夾攻將來，四下無路。孟獲棄了軍士，匹馬望瀘水而逃。正見瀘水上數十個蠻兵，駕一小舟，獲慌令近岸。人馬方纔下船，一聲號起，將孟獲縛住。原來馬岱了計策，引本部兵扮作蠻兵，撐船在此，誘擒孟獲。於是孔明招安蠻兵，降者無數。孔明一一撫慰，並不加害。就教救滅了餘火。須臾，馬岱擒孟獲至；趙雲擒孟優至；魏延、馬忠、王平、關索擒諸洞酋長至。孔明指孟獲而笑曰：「汝先令汝弟以禮詐降，如何瞞得我過！今番又被我擒，汝可服否？」獲曰：「此乃吾弟貪口腹之故，誤中汝毒，因此失了大事。吾若自來，弟以兵應之，必然成功。此乃天敗，非吾之不能也，如何肯服？」孔明曰：「今已三次，如何不服？」孟獲低頭無語。孔明笑曰：「吾再放汝回去。」孟獲曰：「丞相若肯放我弟兄回去，收拾家下親丁，和丞相大戰一場：那時擒得，方纔死心塌地而降。」孔明曰：「再若擒住，必不輕恕。汝可小心在意，勤攻韜略之書，再整親信之士，早用良策，勿生後悔。」遂令武士去其繩索，放起孟獲，并孟優及各洞酋長，一齊都放。孟獲拜謝去了。此時蜀兵已渡瀘水。孟獲等過了瀘水，只見岸口陳兵列將，旗幟紛紛。獲到營前，馬岱高坐，以劍指之曰：「這番拏住，必無輕放！」孟獲到了自已寨時，趙雲早已襲了此寨，布列兵馬。雲坐於大旗下，按劍而言曰：「丞相如此相待，休忘大恩！」獲喏喏連聲而去。將出界口山坡，魏延引一千精兵，擺在坡上，勒馬厲聲而言曰：「吾今已深入巢穴，奪汝險要；汝尚自愚迷，抗拒大軍！這回拏住，碎屍萬段，決不輕饒！」孟獲等抱頭鼠竄，望本洞而去。後人有詩讚曰：五月驅兵入不毛，月明瀘水瘴煙高。誓將雄略酬三顧，豈憚征蠻七縱勞？卻說孔明渡了瀘水，下寨已畢，大賞三軍，聚諸將於帳下曰：「孟獲第二番擒來，吾令遍觀各營虛實，正欲令其來劫營也。吾知孟獲頗曉兵法，吾以兵馬糧草炫耀，實令孟獲看吾破綻，必用火攻。彼令其弟詐降，欲為內應耳。吾三番擒之而不殺，誠欲服其心，不欲滅其類也。吾今明告汝等，勿得辭勞，可用心報國。」眾將拜伏曰：「丞相智、仁、勇，三者足備；雖子牙、張良，不能及也。」孔明曰：「吾今安敢望古人耶？皆賴汝等之力，共成功業耳。」帳下諸將聽得孔明之言，盡皆喜悅。
</p><p>馬岱受計而去。又喚趙雲分付曰：「汝去盤蛇谷後，三江大路口如此守把。所用之物，剋日完備。」趙雲受計而去。又喚魏延分付曰：「汝可引本部兵去桃花渡口下寨。如蠻兵渡水來敵，汝便棄了寨。望白旗處而走。限半個月內，須要連輸十五陣，棄七個寨柵。若輸了十四陣，也休來見我。」
</p><p>卻說孔明班師回國，孟獲率引大小洞主酋長，及諸部落羅拜相送；前軍至瀘水，時值九月秋天，忽然陰雲布合，狂風驟起；兵不能渡，回報孔明，孔明遂問孟獲。獲曰：「此水原有猖神作禍，往來者必須祭之。」孔明曰：「用何物享祭？」獲曰：「舊時國中因猖神作禍，用七七四十九顆人頭並黑牛白羊祭之，自然風恬浪靜，更兼連年豐稔。」孔明曰：「吾今事已平定，安可妄殺一人？」遂自到瀘水岸邊觀看。果見陰風大起，波濤洶湧，人馬皆驚。
</p><p>維大漢建興三年秋九月一日，武鄉侯領益州牧丞相諸葛亮，謹陳祭儀，享於故歿王事蜀中將校以及南人亡者陰魂曰：「我大漢皇帝，威勝五霸，明繼三王。昨自遠方侵境，異俗起兵；縱蠆尾以興妖，恣狼心而逞亂。我奉王命，問罪遐荒；大舉貔貅，悉除螻蟻；雄軍雲集，狂寇冰消。纔聞破竹之聲，便是失猿之勢。但士卒兒郎，盡是九州豪傑；官僚將校，皆為四海英雄。習武從戎，投明事主，莫不同申三令，共展七擒；齊堅奉國之誠，共效忠君之志。何期汝等偶失兵機，緣落奸計；或為流矢所中，魂掩泉臺；或為刀劍所傷，魄歸長夜。生則有勇，死則成名。今凱歌欲還，獻俘將及。汝等英靈尚在，祈禱必聞。隨我旌旗，逐我部曲，同回上國，各認本鄉，受骨肉之蒸嘗，領家人之祭祀；莫作他鄉之鬼，徒為異域之魂。我當奏之天子，使汝等各家盡霑恩露；年給衣糧，月賜廩祿。用茲酬答，以慰汝心。至於本境土神，南方亡鬼，血食有常，憑依不遠。生者既凜天威，死者亦歸王化。想宜寧帖，毋致號啕。聊表丹誠，敬陳祭祀。嗚呼，哀哉！伏維尚饗！
</p><p>分撥已定，又檄李嚴等守川口以拒東吳。選定建興五年春三月丙寅日，出師伐魏。忽帳下一老將，厲聲而進曰：「我雖年邁，尚有廉頗之勇，馬援之雄。此二古人皆不服老，何故不用我耶？」眾視之，乃趙雲也。孔明曰：「吾自平南回都，馬孟起病故，吾甚惜之，以為折一臂也。今將軍年紀已高，倘稍有參差，動搖一世英名，減卻蜀中銳氣。」雲厲聲曰：「吾自隨先帝以來，臨陣不退，遇敵則先，大丈夫得死於疆場者幸也，吾何恨焉，願為前部先鋒。」孔明再三苦勸不從。雲曰：「如不教我為先鋒，就撞死於階下！」孔明曰：「將軍既要為先鋒，須得一人同去。」
</p><p>卻說夏侯楙在長安聚集諸路軍馬。時有西涼大將韓德，善使開山大斧，有萬夫不當之，勇，引西羌諸路兵八萬到來；見了夏侯楙，楙重賞之，就令為先鋒。德有四子，皆精通武藝，弓馬過人：長子韓瑛，次子韓瑤，三子韓瓊，四子韓琪。韓德帶四子并西羌兵八萬，取路至鳳鳴山，正遇蜀兵。兩陣對圓。韓德出馬，四子列於兩邊。德厲聲大罵曰：「反國之賊，安敢犯吾境界！」趙雲大怒，挺鎗縱馬，單搦韓德交戰。長子韓瑛，躍馬來迎；戰不三合，被趙雲一鎗刺死於馬下。次子韓瑤見之，縱馬揮刀來戰。趙雲施逞舊日虎威，抖擻精神迎戰。瑤抵敵不住。三子韓瓊，急挺方天戟驟馬前來夾攻。雲全然不懼，鎗法不亂。四子韓琪，見二兄戰雲不下，也縱馬掄兩口日月刀而來，圍住趙雲。雲在中央獨戰三將。少時，韓琪中鎗落馬。韓陣中偏將急出救去。雲拖鎗便走。韓瓊按戟，急取弓箭射之：連放三箭，皆被雲用鎗撥落。瓊大怒，仍綽方天戟縱馬趕來；卻被雲一箭射中面門，落馬而死。韓瑤縱馬舉寶刀便砍趙雲。雲棄鎗於地，閃過寶刀，生擒韓瑤歸陣，復縱馬取鎗殺過陣來。韓德見四子皆喪趙雲之手，肝膽皆裂，先走入陣去。西羌兵素知趙雲之名，今見其英勇如昔，誰敢交鋒；趙雲馬到處，陣陣倒退。趙雲匹馬單鎗，往來衝突，如入無人之境。後人有詩讚曰：憶昔常山趙子龍，年登七十建奇功。獨誅四將來衝陣，猶似當陽救主雄。
</p><p>次日，夏侯楙復整金鼓旗旛，率兵而進。趙雲、鄧芝出迎。芝在馬上謂趙雲曰：「昨夜魏兵大敗而走，今日復來，必有詐也，老將軍防之。」子龍曰：「量此乳臭小兒，何足道哉！吾今日必當擒之！」便躍馬而出，魏將潘遂出迎，戰不三合，撥馬便走。趙雲趕去，魏陣中八員將一齊來迎。放過夏侯楙先走，八將陸續奔走。趙雲乘勢追殺，鄧芝引兵繼進。趙雲深入重地，只聽得四面喊聲大震。鄧芝急收軍退回，左有董禧，右有薛則，兩路兵殺到。鄧芝兵少，不能解救。趙雲被困在垓心，東衝西突，魏兵越厚。時雲手下止有千餘人，殺到山坡之下，只見夏侯楙在山上指揮三軍。趙雲投東則望東指，投西則望西指：因此趙雲不能突圍，乃引兵欲上山來。半山中擂木砲石打將下來，不能上山。趙雲從辰時殺至酉時，不能得走出，只得下馬少歇，且待月明再戰。卻纔卸甲而坐，月光方出，忽四下火光沖天，鼓聲大震，矢石如雨，魏兵殺到，皆叫曰：「趙雲早降！」雲急上馬迎敵、四面軍馬漸漸逼近，八方弩箭交射甚急，人馬皆不能向前。雲仰天歎曰：「吾不服老，死於此地矣！」忽東北角上喊聲大起，魏兵紛紛亂竄。一彪軍殺到，為首大將持丈八點鋼矛，馬項下挂一顆人頭，雲視之，乃張苞也。苞見趙雲，言曰：「丞相恐老將軍有失，特遣某引軍五千兵接應。聞老將軍被困，故殺透重圍。正遇魏將薛則，被某殺之。」雲大喜，即與張苞殺出西北角來。只見魏兵棄戈奔走。一彪軍從外吶喊殺入，為首大將提偃月青龍刀，手挽人頭。雲視之，乃關興也。興曰：「奉丞相之命，恐老將軍有失，特引五千兵前來接應。卻纔陣上逢著魏將董禧，被吾一刀斬之，梟道在此。丞相隨後便到也。」雲曰：「二將軍已建奇功，不趁今日擒住夏侯楙，以定大事？」張苞聞言，遂引兵去了。興曰：「我也幹功去。」亦引兵去了。雲回顧左右曰：「他兩個是吾子姪輩，尚且爭先幹功；吾乃國家上將，朝廷舊臣，反不如此小輩耶？吾當捨老命以報先帝之恩！」於是引兵來捉夏侯楙。當夜三路兵夾攻，大破魏軍一陣。鄧芝引兵接應，殺得屍橫遍野，血流成河。夏侯楙乃無謀之人，更兼年幼，不曾經戰；見軍大亂，遂引帳下驍將百餘人，望南安郡而走。眾軍因見無主，盡皆逃竄。興、苞二將，聞夏侯楙望南安郡去了，連夜趕來。楙走入城中，緊閉城門，驅兵守禦。興、苞二人趕到，將城圍住；趙雲隨後也到：三面攻打。少時，鄧芝亦引兵到。一連圍了十日，攻打不下。忽報丞相留後軍住沔陽，左軍屯陽平，右軍屯石城，自引中軍來到。趙雲、鄧芝郡關興、張苞皆來拜問孔明，說連日攻城不下。孔明遂乘小車親到城邊周圍看了一遍，回寨升帳而坐。眾將環立聽令。孔明曰：「此郡壕深成峻，不易攻也。吾正事不在此城，如汝等只久攻，倘魏兵分道而出，以取漢中，吾軍危矣。」鄧芝曰：「夏侯楙乃魏之駙馬，若擒此人，勝斬百將。今困於此，豈可棄之而去？」孔明曰：「吾自有計。此處西連天水郡，北抵安定郡；二處太守，不知何人？」探卒答曰：「天水太守馬遵，安定太守崔諒。」孔明大喜，乃喚魏延受計，如此如此；又喚關興、張苞受計，如此如此；又喚心腹軍士二人受計，如此行之。各將領命，引兵而去。孔明卻在南安城外，令軍運迆草堆於城下，口稱燒城。魏兵聞知，皆大笑不懼。
</p><p>卻說蜀漢建興六年秋九月，,魏都督曹休被東吳陸遜大破於石亭，車仗馬匹，軍資器械，並皆罄盡。休惶恐之甚，氣憂成病，到洛陽，疸發背而死，魏主曹叡敕令厚葬。司馬懿引兵還。眾將接入問曰：「曹都督兵敗，即元帥之干係，何故急回耶？」懿曰：「吾料諸葛亮知吾兵敗，必乘虛來取長安。倘隴西緊急，何人救之？吾故回耳。」眾皆以為懼怯，晒笑而退。卻說東吳遣使致書蜀中，請兵伐魏，並言大破曹休之事；一者顯自己威風，二者通和會之好。後主大喜，令人持書至漢中，報知孔明。時孔明兵強馬壯，糧草豐足，所用之物，一切完備，正要出師；聽知此信，即設宴大會諸將，計議出師。忽一陣大風，自東北角上而起，把庭前松樹吹折，眾皆大驚。孔明就占一課，曰：「此風主損一大將！」諸將未信。正飲酒間，忽報鎮南將軍趙雲長子趙統、次子趙廣來見。孔明大驚，擲杯於地曰：「子龍休矣！」二子入見，拜哭曰：「某父昨夜三更病重而死。」孔明跌足而哭曰：「子龍身故，國家損一棟樑，去吾一臂也！」眾將無不揮淚。孔明令二子入成都面君報喪。後主聞雲死，放聲大哭曰：「朕昔年幼，非子龍則死於亂軍之中矣！」即下詔追贈大將軍，諡順平侯，敕葬於成都錦屏山之東；建立廟堂，四時享祭。後人有詩曰：
</p><p>卻說司馬懿見了鄭文之書，便欲引二子提大兵來劫蜀寨。長子司馬師諫曰：「父親何故據片紙而親入重地？倘有疏虞，如之奈何？不如令別將先去，父親為後應，可也。」懿從之，遂令秦朗引一萬兵，去劫蜀寨，懿自引兵接應。是夜初更，風清月朗﹔將及二更時分，忽然陰雲四合，黑氣漫空，對面不見。懿大喜曰：「天使我成功也！」
</p><p>shuihuzhuan.txt</p><p>只說楊志自在梁中書府中早晚殷懃聽候使喚。梁中書見他謹勤，有心要擡舉他，欲要遷他做個軍中副牌，月支一分請受，只恐衆人不伏，因此，傳下號令，教軍政司告示大小諸將人員來日都要出東郭門教場中去演武試藝。當晚，梁中書喚楊志到廳前。梁中書道：「我有心要抬舉你做軍中副牌，月支一分請受，只不知你武藝如何？」楊志稟道：「小人應過武舉出身，曾做殿司制使職役。這十八般武藝，自小習學。今日蒙恩相擡舉，如撥雲見日一般。楊志若得寸進，當效啣環背鞍之報。」梁中書大喜，賜與一副衣甲。當夜無事。
</p><p>話休絮煩。似此行了十四五日，那十四個人沒一個不怨悵楊志。當日客店裏辰牌時分慢慢地打火喫了早飯行，正是六月初四日時節，天氣未及晌午，一輪紅日當天，沒半點雲彩，其日十分大熱，當日行的路都是山僻崎嶇小徑，南山北嶺，卻監著那十一個軍漢。約行了二十餘里路程，那軍人們思量要去柳陰樹下歇涼，被楊志拿著藤條打將來，喝道：「快走！教你早歇！」衆軍人看那天時，四下裏無半點雲彩，其實那熱不可當。楊志催促一行人在山中僻路裏行。看看日色當午，那石頭上熱了腳疼，走不得。衆軍漢道：「這般天氣熱，兀的不晒殺人！」楊志喝著軍漢道：「快走！趕過前面岡子去，卻再理會。」
</p><p>有話即長，無話即短。不覺過了一月有餘，看看是十二月天氣。連日朔風緊起，四下裏彤雲密布，又早紛紛揚揚飛下一天大雪來。當日那雪直下到一更天氣不止。次日武松清早出去縣裏畫卯，直到日中未歸。武大被這婦人趕出去做買賣，央及間壁王婆買下些酒肉之類，去武松房裏簇了一盆炭火，心裏自想道：「我今日著實撩鬥他一撩鬥，不信他不動情。……」那婦人獨自一個冷冷清清立在簾兒下等著，只見武松踏著那亂瓊碎玉歸來。那婦人揭起簾子，陪著笑臉迎接道：「叔叔，寒冷？」武松道：「感謝嫂嫂憂念。」入得門來，便把氈笠兒除將下來。那婦人雙手去接。武松道：「不勞嫂嫂生受。」自把雪來拂了，掛在壁上；解了腰裏纏帶，脫了身上鸚哥綠紵絲衲襖，入房裏搭了。那婦人便道：「奴等一早起。叔叔，怎地不歸來喫早飯？」武松道：「便是縣裏一個相識，請喫早飯。卻纔又有一個作東，我不奈煩，一直走到家裏來。」那婦人道：「恁地；叔叔，向火。」武松道：「好。」便脫了油靴，換了一雙襪子，穿了暖鞋；掇個杌子自近火邊坐地。那婦人把前門上了拴，後門也關了，卻搬些按酒果品菜蔬入武松房裏來，擺在桌子上。
</p><p>且說武松領下知縣言語，出縣門來。到得下處，取了些銀兩，叫了個士兵，卻上街來買了一瓶酒並魚肉果品之類，一逕投紫石街來，直到武大家裏。武大恰好賣炊餅了回來，見武松在門前坐地，叫士兵去廚下安排。那婦人餘情不斷，見武松把將酒食來，心中自想道：「莫不這廝思量我了，卻又回來？……那廝一定強不過我！且慢慢地相問他。」那婦人便上樓去重勻粉面，再整雲鬟，換些豔色衣服穿了，來到門前，迎接武松。那婦人拜道：「叔叔，不知怎地錯見了？好幾日並不上門，教奴心裏沒理會處。每日叫你哥哥來縣裏尋叔叔陪話，歸來只說道：『沒處尋。』今日且喜得叔叔家來。沒事壞錢做甚麽？」武松答道：「武二有句話，特來要和哥哥嫂嫂說知則個。」那婦人道：「既是如此，樓上去坐地。」三個人來到樓上客位裏，武松讓哥嫂上首坐了。武松掇個杌子，橫投坐了。士兵搬將酒肉上樓來擺在桌子上。武松勸哥哥嫂嫂喫酒。那婦人只顧把眼來睃武松。武松只顧喫酒。酒至五巡，武松討個勸杯，叫士兵篩了一杯酒，拿在手裏，看著武大，道：「大哥在上，今日武二蒙知縣相公差往東京幹事，明日便要起程。多是兩個月，少是四五十日便回。有句話特來和你說知，你從來爲人懦弱，我不在家，恐怕被外人來欺負。假如你每日賣十扇籠炊餅，你從明日爲始，只做五扇籠出去賣；每日遲出早歸，不要和人喫酒；歸到家裏，便下了簾子，早閉上門，省了多少是非口舌。如若有人欺負你，不要和他爭執，待我回來自和他理論。大哥依我時，滿飲此杯。」武大接了酒道：「我兄弟見得是，我都依你說。」喫過了一杯酒。
</p><p>多時，只見施恩從裏面跑將出來看著武松便拜。武松慌忙答禮，說道：「小人是個治下的囚徒，自來未曾拜識尊顔，前日又蒙救了一頓大棒，今又蒙每日好酒好食相待，甚是不當。又沒半點兒差遣。正是無功受祿，寢食不安。」施恩答道：「小弟久聞兄長大名，如雷灌耳；只恨雲程阻隔，不能彀相見。今日幸得兄長到此，正要拜識威顔，只恨無物款待，因此懷羞，不敢相見。」武松問道：「卻才聽得伴當所說，且教武松過半年三個月卻有話說，正是小管營與小人說甚話？」施恩道：「村僕不省得事，脫口便對兄長說知道，卻如何造次說得！」武松道：「管營恁地時卻是秀才耍！倒教武松癟破肚皮悶了，怎地過得？你且說正是要我怎地？」施恩道：「既是村僕說出了，小弟只得告訴：因爲兄長是個大丈夫，真男子，有件事欲要相央，除是兄長便行得。只是兄長遠路到此，氣力有虧，未經完足，且請將息半年三五個月，待兄長氣力完足，那時卻待兄長說知備細。」
</p><p>此時卻有些月光明亮。武松從牆頭上一跳卻跳在牆裏，便先來開了角門，掇過了門扇，復翻身入來，虛掩上角門，閂都提過了。武松卻望燈明處來看時，正是廚房裏。只見兩個丫環正在那湯罐邊埋怨，說道：「服侍了一日，兀自不肯去睡，只是要茶喫！那兩個客人也不識羞恥！噇得這等醉了，也兀自不肯下樓去歇息，只說個不了！」那兩個女使正口裏喃喃呐呐地怨悵，武松卻倚了朴刀，掣出腰裏那口帶血刀來，把門一推，呀地推開門，搶入來，先把一個女使髽角兒揪住，一刀殺了。那一個卻待要走，兩隻腳一似釘住了的；再要叫時，口裏又似啞了的，端的是驚得呆了。——休道是兩個丫環，便是說話的見了也驚得口裏半舌不展！武松手起一刀，也殺了，卻把這兩個屍首拖放竈前，滅了廚下燈火，趁著那窗外月光一步步挨入堂裏來。武松原在衙裏出入的人，已都認得路數，逕踅到鴛鴦樓扶梯邊來，捏腳捏手摸上樓來。此時親隨的人都伏事得厭煩，遠遠地躲去了。只聽得那張都監、張團練、蔣門神三個說話。武松在扶梯口聽。只聽得蔣門神口裏稱讚不了，只說：「虧了相公與小人報了冤仇！再當重重的報答恩相！」這張都監道：「不是看我兄弟張團練面上，誰肯幹這等的事！你雖費用了些錢財，卻也安排得那廝好！這早晚多是在那裏下手，那廝敢是死了。只教在飛雲浦結果他。待那四人明早回來，便見分曉。」張團練道：「這四個對付他一個有甚麽不了！——再有幾個性命也沒了！」蔣門神道：「小人也分付徒弟來，只教就那裏下手結果了快來回報。」
</p><p>武松聽了，心頭那把無名業火高三千丈，衝破了青天；右手持刀，左手叉註：左手右查。開五指，搶入樓中。只見三五枝燈燭熒煌，一兩處月光射入，樓上甚是明朗；面前酒器皆不曾收。蔣門神坐在交椅上，見是武松，喫了一驚，把這心肝五臟都提在九霄雲外。說時遲，那時快，蔣門神急要掙扎時，武松早落一刀，劈臉剁著，和那交椅都砍翻了。武松便轉身回過刀來。那張都監方纔伸得腳動，被武松當時一刀，齊耳根連脖子砍著，撲地倒在樓板上。兩個都在掙命。這張團練終是個武官出身，雖然酒醉，還有些氣力；見剁翻了兩個，料道走不迭，便提起一把交椅輪將來。武松早接個住，就勢只一推。休說張團練酒後，便清醒時也近不得武松神力！撲地望後便倒了。武松趕入去，一刀先割下頭來。蔣門神有力，掙得起來，武松左腳早起，翻筋斗踢一腳，按住也割了頭；轉身來，把張都監也割了頭。見桌子上有酒有肉，武松拿起酒鍾子一飲而盡；連喫了三四鍾，便去死屍身上割下一片衣襟來，蘸著血，去白粉壁上大寫下八字道：「殺人者，打虎武松也！」
</p><p>張青即便請出前面客席裏。敘禮罷，張青大驚，連忙問道：「賢弟如何恁地模樣？」武松答道：「一言難盡！自從與你相別之後，到得牢城營裏，得蒙施管營兒子，喚做金眼彪施恩，一見如故，每日好酒好肉管顧我。爲是他有一座酒肉店在城東快活林內，甚是趁錢，卻被一個張團練帶來的蔣門神那廝，倚勢豪強，公然白白地奪了。施恩如此告訴。我卻路見不平，醉打了蔣門神，復奪了快活林，施恩以此敬重我。後被張團練買囑張都監，定了計謀，取我做親隨，設智陷害，替蔣門神報讎：八月十五日夜，只推有賊，賺我到裏面，卻把銀酒器皿預先放在我箱籠內，拿我解送孟州府裏，強扭做賊，打招了監在牢裏。卻得施恩上下使錢透了，不曾受害。又得當案葉孔目仗義疏財，不肯陷害平人；又得當牢一個康節級與施恩最好。兩個一力維持，待限滿脊杖，轉配恩州。昨夜出得城來，叵耐張都監設計，教蔣門神使兩個徒弟和防送公人相助，就路上要結果我。到得飛雲浦僻靜去處，正欲要動手，先被我兩腳把兩個徒弟踢下水裏去。趕上這兩個鳥公人，也是一朴刀一個搠死了，都撇在水裏。思量這口氣怎地出得？因此再回孟州城裏去。一更四點，進去馬院裏，先殺一個養馬的後槽；爬入牆內去，就廚房裏殺了兩個丫環；直上鴛鴦樓，把張都監、張團練、蔣門神三個都殺了；又砍了兩個親隨；下樓來又把他老婆兒女養娘都戳死了。四更三點跳城出來，走了一五更路，一時困倦，棒瘡發了又疼，因行不得，投一小廟裏權歇一歇，卻被這四個綁縛將來。」
</p><p>看看天色晚了，又走得人困馬乏；巴得到那山下時，正欲下寨造飯，只見山上火把亂起，鑼聲亂鳴。秦明轉怒，引領四五十馬軍，跑上山來。只見山上樹林內，亂箭射將下來，又射傷了些軍士。秦明只得回馬下山，且教軍士只顧造飯。恰纔舉得火著，只見山上有八九十把火光呼風唿哨下來。秦明急待引軍趕時，火把一齊都滅了。當夜雖有月光，亦被陰雲籠罩，不甚明朗。秦明怒不可當，便叫軍士點起火把，燒那樹木。只聽得山嘴上鼓笛之聲。秦明縱馬上來看時，見山頂上點著十餘個火把，炤見花榮陪著宋江在上面飲酒。秦明看了，心中沒出氣處，勒住馬在山下大罵。花榮笑答道：「秦統制，你不必焦躁。且回去將息著，我明日和你併個你死我活的輸贏便罷。」秦明怒喊道：「反賊！你便下來，我如今和你併個三百合，卻再作理會。」花榮笑道：「秦總管，你今日勞困了，我便贏得你也不爲強。你且回去，明日卻來。」秦明越怒，只管在山下罵。本待尋路上山，卻又怕花榮的弓箭，因此只在山坡下罵。正叫駡之間，只聽得本部下軍馬發起喊來。秦明急回到山下看時，只見這邊山上，火炮、火箭，一發燒將下來；背後二三十個小嘍囉做一群，把弓弩在黑影裏射人；衆軍馬發喊，一齊都擁過那邊山側深坑裏去躲。此時已有三更時分，衆軍馬正躲得弓箭時，只叫得苦：上溜頭滾下水來，一行人馬卻都在溪裏，各自掙扎性命。爬得上岸的，盡被小嘍囉撓鈎搭住，活捉上山去了；爬不上岸的，盡淹死在溪裏。
</p><p>且說這江州對岸另有個城子，喚做無爲軍，卻是個野去處。因有個閒住通判，姓黃，雙名文炳。這人雖讀經書，卻是阿諛諂佞之徒，心地褊窄，只要嫉賢妒能，－－勝如己者害之，不如己者弄之。－－專在鄉里害人。聞知這蔡九知府是當朝蔡太師兒子，每每來浸潤他，；時常過江來請訪知府，指望他引出職，再欲做官。也是宋江命運合當受苦，撞了這個對頭！當日這黃文炳在私家閑坐，無可消遣，帶了兩個僕人，買了些時新禮物，自家一隻快船，渡過江來，逕去府裏探問蔡九知府，恰退撞著府裏公宴，不敢進去；卻再回船，正好那隻船，僕人已纜在潯陽樓下。黃文炳因見天氣暄熱，且去樓上閒玩一回；信步入酒庫裏來，看了一遭，轉到酒樓上憑欄消遣，觀見壁上題詠甚多，也有做得好的，亦有歪談亂道的。黃文炳看了冷笑，正看到宋江題西月詞並所吟四句詩，大驚道：「這個不是反詩！誰寫在此！」後面卻書道「鄆城宋江作」五個大字。黃文炳再讀道：「『自幼曾攻經史，長成亦有權謀。』」冷笑道：「這人自負不淺！」又讀道：「『恰如猛虎臥荒邱，潛伏爪牙忍受！』」側著頭道：「那也是個不依本分的人！」又讀：「『不幸刺文雙頰，那堪配在江州！』」又笑道：「也不是個高尚其志的人，看來只個配軍。」又讀道：「『他年若得報讎，血染潯陽江口！』」搖頭道：「這廝報讎兀誰，卻要在此間生事？量你是個配軍，做得甚用！」又讀詩道：「『心在山東身在吳，飄蓬江海漫嗟吁。』」一點頭道：「這兩句兀自可恕。」又讀道：「『他時若遂淩雲志，敢笑黃巢不丈夫！』」伸著舌，搖著頭，道：「這廝無禮！他卻要賽過黃巢，不謀反待怎地！」再讀了「鄆城宋江作，」想道：「我也曾聞這個名字，那人多管是個小吏。」便喚酒保來問道：「這兩篇詩詞端的是何人題下在此？」酒保道：「夜來一個人獨自了一瓶酒，寫在這裏。」黃文炳道：「約莫甚麽樣人？」酒保道：「面頰上有兩行金印，多管是牢城營裏人。生得黑矮肥胖。」黃文炳道：「是了。」就借筆硯，取幅紙來，抄了藏在身邊，分付酒保，休要刮去了。
</p><p>是夜，月色朦朧，路不分明。宋江只顧揀僻靜小路去處走。約莫也走了一個更次，只聽得背後有人發喊起來。宋江回頭聽時，只隔一二里路，看見一簇火把炤亮，只聽得叫道：「宋江休走！」宋江一頭走，一面肚裏尋思：「不聽晁蓋之言，果有今日之禍！皇天可憐，垂救宋江則個！」遠遠望見一個去處，只顧走。少間，風掃薄雲，現出那個明月，宋江方纔認得仔細，叫聲苦，不知高低。看了那個去處，有名喚做還道村。原來團團都是高山峻嶺，山下一遭澗水，中間單單只一條路。入來這村，左來右去走，只是這條路，更沒第二條路。宋江認得這個村口，欲待回身，卻被背後趕來的人已把住了路口，火把炤耀如同白日。
</p><p>宋江只得奔入村裏來，尋路躲避；抹過一座林子，早看見一所古廟；雙手只得推開廟門，乘著月光，入進廟裏來。尋個躲避處；前殿後殿相了一回，安不得身，心裏越慌。只聽得外面有人道：「都管只走在這廟裏！」宋江聽時是趙能聲音，急沒躲處；見這殿上一所神廚，宋江揭起帳幔，望裏面探身便鑽入神廚裏，安了短棒，做一堆兒伏在廚內，身體把不住簌簌地抖。只聽得外面拿著火把炤將入來。宋江在神廚裏一頭抖，一頭偷眼看時，趙能，趙得引著四五十人，拿把火把，各到處炤。看看照上殿來。宋江抖道：「我今番走了死路，望神明庇佑則個！......神明庇佑！......神明庇佑！......」一個個都走過了，沒人看著神廚裏。宋江抖定道：「可憐天！」只見趙得將火把來神廚裏一炤，宋江抖得幾乎死去。趙得一只手將朴刀捍挑起神帳，上下把火只一炤，火烟沖將起來，沖下一片黑塵來，正落在趙得眼裏，眯了眼；便將火把丟在地下，一腳踏滅了，走出殿門外來，對士兵們道：「這不在廟裏。——別又無路，走向那裏去了？」衆士兵道：「多應這廝走入村中下林裏去了。這裏不怕他走脫：這個村喚做還道村，只有這條路出入；裏面雖有高山林木，卻無路上得去。都頭只把住村口，他便會插飛上天去也走不脫了！待天明，村裏去細細搜捉！」趙能，趙得道：「也是。」引了士兵出殿去了。宋江抖定道：「卻不是神明庇佑；若還得了性命，必當重修廟宇，再塑......」只聽得有幾個士兵在廟門前叫道：「都頭，在這裏了！」趙能，趙得，和衆人又搶入來。宋江簌簌地又把不住抖。趙能到廟前問道：「在那裏？」士兵道：「都頭，你來看，廟門上兩個塵手跡！一定是卻纔推開廟門，閃在裏面去了！」趙能道：「說的是；再仔細搜一搜看！」這夥人再入廟裏來搜時。宋江這一番抖真是幾乎休了。那夥人去殿前殿後搜遍，只不曾翻過磚來。衆人又搜了一回，火把看看炤上殿來，趙能道：「多是只在神廚裏。卻纔兄弟看不仔細，我自炤一炤看。」一個士兵拿著火把，趙能便揭起帳幔，五七個人伸頭來看。不看萬事俱休，纔看一看，只見神廚裏捲起一陣惡風，將那火把都吹滅了，黑騰騰罩了廟宇，對面不見。趙能道：「又作怪。平地裏捲起這陣惡風來！想是神明在裏面，定嗔怪我們只管來炤。因此起這陣惡風顯應。我們且去罷。只守住村口，待天明再來尋。」趙得道：「只是神廚裏不曾看得仔細，再把鎗去搠一搠。」趙能道：「也是。」兩個卻待向前，只聽得殿前又捲起一陣怪風，吹得飛砂走石，滾將下來；搖得那殿宇岌岌地動；罩下一陣黑雲，布合了上下，冷氣侵入，毛髮豎起。趙能情知不好，叫了趙得道：「兄弟！快走！神明不樂！」衆人一閧都奔下殿來，望廟門外跑走。有幾個跌翻了的，也有閃了朒腿的，爬得起來奔命，走出廟門，只聽得廟裏有人叫：「饒恕我們！」趙能再入來看時，兩三個士兵跌倒在龍墀裏，被樹根鈎住了衣服，死也掙不脫，手裏丟了朴刀，扯著衣裳叫饒。宋江在神廚裏聽了，又抖又笑。趙能把士兵衣服解脫了，領出廟門去。有幾個在前面的士兵說道：「我說這神道最靈，你們只管在裏面纏障，引得小鬼發作起來！我們只在守住了村口等他。須不喫他飛了去！」趙能，趙得道：「說得是；只消村口四下裏守定。」衆人都望村口去了。
</p><p>李逵恰待要趕，只見就樹邊卷起一陣狂風，吹得敗葉樹木如雨一般打將下來。自古道：「雲生從龍，風生從虎。」那一陣風起處，星月光輝之下，大吼了一聲，忽地跳出一隻吊睛白額虎來。那大蟲望李逵勢猛一撲。那李逵不慌不忙，趁著那大蟲勢力，手起一刀，正中那大蟲頷下。那大蟲不曾再掀再翦：一者護那疼痛，二者傷著他那氣筦。那大蟲退不彀五七步，只聽得響一聲，如倒半壁山，登時間死在巖下。那李逵一時間殺了母子四虎，還又到虎窩邊，將著刀複看了一遍，只恐還有大蟲，已無有蹤跡。李逵也困乏了，走向泗州大聖廟裏，睡到天明。
</p><p>楊雄入得門，便叫：「大嫂，快來與這叔叔相見。」只見布裏面應道：「大哥，你有甚叔叔？」楊雄道：「你且休問，先出來相見。」布起處，走出那個婦人來。原來那婦人是七月七日生的，因此，小字喚做巧雲。先嫁了一個吏員，——是薊州人，喚做王押司。——兩年前身故了，方晚嫁得楊雄，未及一年夫妻。石秀見那婦人出來，慌忙向前施禮，道：「嫂嫂，請坐。」石秀便拜。那婦人道：「奴家年輕，如何敢受禮！」楊雄道：「這個是我今日新認義的兄弟。你是嫂嫂，可受半禮。」當下石秀推金山，倒玉柱，拜了四拜。那婦人還了兩禮，請入來裏面坐地，收拾一間空房，教叔叔安歇。話休絮煩。次日，楊雄自出去應當官府，分付家中道：「安排石秀衣服巾幘。」客店內有些行李包裏，都教去取來楊雄家裏安放了。
</p><p>好半日，兩個雲雨方罷。那賊禿摟住這淫婦，說道：「你既有心於我，我身死而無怨；只是今日雖然虧你作成了我，只得一霎時的恩愛快活，不能彀終夜歡娛，久後必然害殺小僧。」那淫婦便道：「你且不要慌。我已尋思一條計了；我家的人一個月到有二十來日當牢上宿；我自買了迎兒，教他每日在後門裏伺候，若是夜晚，他一不在家時，便掇一個香桌兒出來，燒夜香爲號，你便入來不妨。只怕五更睡著了，不知省覺，那裏尋得一個報曉的頭陀，買他來後門頭大敲木魚，高聲叫佛，便好出去。若買得這等一個時，一者得他外面策望，二乃不叫你失了曉。」賊禿聽了這話，大喜道：「妙哉！你只顧如此行。我這裏自有個頭陀胡道人。我自分付他來策望便了。」淫婦道：「我不敢留戀長久，恐這廝們疑忌。我快回去是得。你只不要誤約。」那淫婦連忙再整雲鬟，重勻粉面，開了樓門，便下樓來，教迎兒叫起潘公，慌忙便出僧房來。轎夫喫了酒麫，已在寺門前伺候。那賊禿直送那淫婦到山門外。那淫婦作別了，上轎自和潘公，迎兒歸家，不在話下。
</p><p>且說楊林、白勝引人離寨半裏草坡內埋伏；等到一更時分，只見風雷大作。楊林、白勝同三百餘人在草裏看時，只見高廉步走，引領三百神兵，吹風唿哨，殺入寨中來，見是空寨，回身便走。楊林，白勝呐喊聲，高廉只怕中了計，四散便走，三百神兵各自奔逃，楊林，白勝亂放弩箭，只顧射去，一箭正中高廉左肩。衆軍四散，冒雨趕殺。高廉引領了神兵，去得遠了。楊林，白勝人少，不敢深入。少刻，雨過雲收，複見一天星斗。月光之下，草坡前搠翻射倒，拿得神兵二十餘人，解赴宋公明寨內，具說雷風雲之事。宋江、吳用見說，大驚道：「此間只隔得五里遠近，卻又無雨無風！」衆人議道：「正是妖法。只在本處，離地只有三四十丈，雲雨氣味是左近水泊中攝將來的。」楊林說：「高廉也是披髮仗劍，殺入寨中。身上中了我一弩箭，回城中去了。爲是人少，不敢去追。」宋江分賞楊林、白勝；把拿來的中傷神兵斬了；分撥衆頭領，下了七八個小寨，圍繞大寨，提防再來劫寨；一面使人回山寨取軍馬協助。
</p><p>李逵不省得這法，只道和他走路一般好耍，那當得耳朵邊有如風雨之聲，兩邊房屋樹木一似連排價倒了的，腳底下如雲催霧趲。李逵怕將起來，幾遍待要住腳，兩條腿那裏收拾得住，卻似有人在下面推的相似，腳不點地只管走去了。看見走到紅日平西，肚裏又饑又渴，越不能彀住腳，驚得一身臭汗，氣喘做一團。戴宗從背後趕來，叫道：「李大哥，怎的不買些點心喫了去？」李逵叫道：「哥哥！救我一救！餓殺鐵牛了！」戴宗懷裏摸出幾個炊餅來自喫。李逵伸著手，只隔一丈遠近，只接不著。李逵叫道：「好哥哥！且住一住！」戴宗道：「便是今日有些蹊蹺，我的兩腿也不能彀住。」李逵道：「啊也！我這鳥腳不繇我半分，只管自家在下邊奔了去！不要討我性發，把大斧砍了下來！」戴宗道：「只除是恁的般方好；不然，直走到明年正月初一日，也不能住！」李逵道：「好哥哥！休使道兒耍我！砍了腿下來，把甚麽走回去？」戴宗道：「你敢是昨夜不依我？今日連我也奔不得住，你自奔去。」李逵叫道：「好爺爺！你饒我住一住！」戴宗道：「我的這法不許喫葷，第一戒的是牛肉。若還喫了一塊牛肉，直要奔一世方才得住！」李逵道：「卻是苦也！我昨夜不合瞞著哥哥，其實偷買五七斤牛肉喫了！正是怎麽好！」戴宗道：「怪得今日連我的這腿也收不住！你這鐵牛害殺我也！」李逵聽罷，叫起撞天屈來。戴宗笑道：「你從今以後，只依得我一件事，我便罷得這法。」
</p><p>李逵當時摸了兩把板斧，輕輕地開了房門，乘著星月明朗，一步步摸上山來：到得紫虛觀前，卻見兩扇大門關了，傍邊籬牆喜不甚高。李逵騰地跳將過去，開了大門，一步步摸入裏面去，直至松鶴軒前，只聽隔窗有人念誦什麽經號之聲。李逵爬上來，搠破紙窗張時，見羅真人獨自一個坐在日間這件東西上；面前桌兒上咽猥猥地兩枝蠟燭點得通亮。李逵道：「這賊道！卻不是當死！」一踅踅過門邊來，把手只一推，撲的兩扇亮齊開。李逵搶將入去，提起斧頭，便望羅真人腦門上只一劈，早斫倒在雲床上。李逵看時，流出白血來，笑道：「眼見得這賊是童男子身，頤養得元陽真氣，不曾走泄，正沒半點的紅！」李逵再仔細看時，連那道冠兒劈做兩半，一顆頭直砍到項下。李逵道：「這個人只可驅除了他！先不煩惱公孫勝不去！」便轉身，出了松鶴軒，從側首廊下奔將出來。只見一個青衣童子，攔住李逵，喝道：「你殺了我本師，待走那裏去！」李逵道：「你這個小賊道！也喫我一斧！」手起斧落，把頭早砍下臺基邊去。李逵笑道：「如今只好撒開！」逕取路出了觀門，飛也似奔下山來；到得公孫勝家裏，閃入來，閉上了門。淨室裏聽戴宗時，兀自未覺，李逵依前輕輕地睡了。
</p><p>是夜，寒冬天色，卻無月光。時遷看見土地廟後一株大柏樹，便把兩隻腿夾定，一節節爬將樹頭頂上去，騎馬兒坐在枝柯上，捎捎望時，只見徐寧歸來，望家裏去了。只見班裏兩個人提著燈籠出來關門，把一把鎖鎖了，各自歸家去了。早聽得譙樓禁鼓，卻轉初更。雲寒星斗無光，露散霜花漸白。只見班裏靜悄悄地，卻從樹上溜將下來，踅到徐寧後門邊，從牆上下來，不費半點氣力，爬將過去，看裏面時，卻是個小小院子。時遷伏在廚房外張時，見廚房下燈明，兩個婭嬛兀自收拾未了。時遷卻從戧柱上盤到膊風板邊，伏做一塊兒，張那樓上時，見那金鎗手徐寧和娘子對坐爐邊向火，懷裏抱著一個六七歲孩兒。時遷看那臥房裏時，見梁上果然有個大皮匣拴在上面；房門口掛著一副弓箭，一口腰刀；衣架上掛著各色衣服；徐寧口裏叫道：「梅香，你來與我摺了衣服。」下面一個婭嬛上來，就側首春臺上先摺了一領柴繡圓領；又摺一領官綠襯裏襖子并下面五色花繡踢串，一個護項彩色錦帕，一條紅綠結子並手帕一包；另用一個小黃帕兒，包著一條雙獺尾荔枝金帶；共放在包袱內，把來安在烘籠上。時遷多看在眼裏。
</p><p>再說宋江軍馬三隊都到少華山下。武松引了朱武、陳達、楊春，三人下山拜請宋江，吳用並衆頭領都到山寨裏坐下。宋江備問城中之事。朱武道：「兩個頭領已被賀太守監在牢裏，只等朝廷降發落。」宋江與吳用說道：「怎地定計去救取便好？」朱武道：「華州城郭廣闊，濠溝深遠，急切難打；只除非得裏應外合，方可取得。」吳學究道：「明日且去城邊看那城池如何，卻再商量。」宋江飲酒到晚，巴不得天明，要去看城。吳用諫道：「城中監著兩隻大蟲在牢裏，如何不做提備？白日不可去看。今夜月色必然明朗，申牌前後下山，一更時分可到那裏窺望。」當日捱到午後，宋江、吳用、花榮、秦明、朱仝，共是五騎下山，迤邐前行。初更時分，已到華州城外；在山坡高處，立馬望華州城裏時，——正是二月中旬天氣，月華如晝，天上無一片雲彩。——看見華州周圍有數座城門，城高地壯，塹壕深闊。看了半晌，遠遠地也便望見那西嶽華山。
</p><p>王定去了。太師隨即差當日府幹請樞密院官急來商議軍情重事。不移時，東廳樞密使童貫，引三衙太尉，都到節堂參見太師，蔡京把大名危急之事備細說了一遍，「如今將何計策，用何良將，可退賊兵，以保城郭？」說罷，衆官互相廝覰，各有懼色。只見那步軍太尉背後。轉出一人，乃衙門防禦保義使，姓宣，名贊，掌管兵馬。此人生得面如鍋底，鼻孔朝天，捲髮赤鬚，彪形八尺，使口鋼刀，武藝出衆；先前在王府曾做郡馬，人呼爲「醜郡馬」；因對連珠箭贏了番將，郡王愛他武藝，招做女婿；誰想郡主嫌他醜陋，懷恨而亡，因此不得重用，只做得個兵馬保義使。當時卻忍不住，出班來稟太師道：「小將當初在鄉中，有個相識；此乃是漢末三分義勇武安王嫡派子孫，姓關，名勝；生得規模與祖上雲長相似，使一口青龍偃月刀，人稱爲大刀關勝；見做蒲東巡檢，屈在下撩。此人幼讀兵書，深通武藝，有萬夫不當之勇；若以禮幣請他，拜爲上將，可以掃清水寨，殄滅狂徒，保國安民。乞取鈞旨。」蔡京聽罷大喜，就差宣贊爲使，齎了文書鞍馬，連夜星火前往蒲東禮請關勝赴京計議。衆官皆退。
</p><p>且說時遷越牆入城，城中客店內卻不著單身客人。他自由的街上閑走，到晚來東嶽廟神座底下安身。正月十三日，卻在城內往來觀看那搭縛燈棚，懸掛燈火。正看之間，只見解珍，解寶挑著野味，在城中往來觀看；又撞見杜遷，宋萬兩個從瓦子裏走將出來。時遷當日先去翠雲樓上打一個踅，只見孔明披著頭髮，身穿羊皮破衣，右手拄一條杖子，左手拿個碗，腌腌臢臢，在那裏求乞，見了時遷，打抹他去背說話。時遷道：「哥哥，你這般一個漢子，紅紅白白皮面，不像叫化的。城中做公的多，倘或被他看破，須誤了大事。哥哥可以躲閃回避。」
</p><p>宋江又自己焚香祈禱，暗蔔一課。吳用看了卦象，便道：「恭喜大事無損，今夜倒主有賊兵入寨。」宋江道：「可以早作準備。」吳用道：「請兄長放心，只顧傳下號令。先去報與三寨頭領，今夜起東西二寨，便教解珍在左，解寶在右，其餘軍馬各於四下裏埋伏。」已定。是夜，天清月白，風靜雲閒。史文恭在寨中對曾昇道：「賊兵今日輸了兩將，必然懼怯，乘虛正好劫寨。」曾昇見說，便教請北寨蘇定，南寨曾密，西寨曾索，引兵前來，一同劫寨。二更左側潛地出哨，馬摘鸞鈴，人披軟戰，直到宋江中軍寨內；見四下無人，劫著空寨，急叫中計，轉身便走。左手下撞出兩頭蛇解珍，右手下撞出雙尾蠍解寶，後面便是小李廣花榮，一發趕上。曾索在黑地裏被解珍一鋼叉搠於馬下。放起火來，後寨發喊，東西兩邊，進兵攻打寨柵，混戰了半夜。史文恭奪路得回。
</p><p>維宣和二年四月二十三日，梁山泊義士宋江、盧俊義、吳用、公孫勝、關勝、林沖、秦明、呼延灼、花榮、柴進、李應、朱仝、魯智深、武松、董平、張清、楊志、徐寧、索超、戴宗、劉唐、李逵、史進、穆弘、雷橫、李俊、阮小二、張橫、阮小五、張順、阮小七、楊雄、解珍、解寶、燕青、朱武、黃信、孫立、宣贊、郝思文、韓滔、彭圯、單廷、魏定國、蕭讓、斐宣、歐鵬、鄧飛、燕順、楊林、凌振、蔣敬、呂方、郭盛、安道全、皇甫端、王英、扈三娘、鮑旭、樊瑞、孔明、孔亮、項充、李袞、金大堅、馬麟、童威、童猛、孟康、候健、陳達、楊春、鄭天壽、陶宗旺、宋清、樂和、龔旺、丁得孫、穆春、曹正、宋萬、杜遷、薛永、施恩、李忠、周通、湯隆、杜興、鄒淵、鄒潤、朱貴、朱富、蔡福、蔡慶、李立、李雲、焦挺、石勇、孫新、顧大嫂、張青、孫二娘、王定六、郁保四、白勝、時遷、段景住。——同秉至誠，共立大誓：
</p><p>xiyouji.txt</p><p>蓋自開闢以來，每受天真地秀，日精月華，感之既久，遂有靈通之意。內育仙胞，一日迸裂，產一石卵，似圓毬樣大。因見風，化作一個石猴，五官俱備，四肢皆全。便就學爬學走，拜了四方。目運兩道金光，射沖斗府。驚動高天上聖大慈仁者玉皇大天尊玄穹高上帝，駕座金闕雲宮靈霄寶殿，聚集仙卿，見有金光燄燄，即命千里眼、順風耳開南天門觀看。二將果奉旨出門外，看的真，聽的明。須臾回報道：「臣奉旨觀聽金光之處，乃東勝神洲海東傲來小國之界，有一座花果山，山上有一仙石，石產一卵，見風化一石猴，在那裏拜四方，眼運金光，射沖斗府。如今服餌水食，金光將潛息矣。」玉帝垂賜恩慈曰：「下方之物，乃天地精華所生，不足為異。」
</p><p>正觀看間，忽聞得林深之處有人言語。急忙趨步，穿入林中，側耳而聽，原來是歌唱之聲。歌曰：「觀棋柯爛，伐木丁丁，雲邊谷口徐行。賣薪沽酒，狂笑自陶情。蒼逕秋高，對月枕松根，一覺天明。認舊林，登崖過嶺，持斧斷枯籐。收來成一擔，行歌市上，易米三升。更無些子爭競，時價平平。不會機謀巧算，沒榮辱，恬淡延生。相逢處，非仙即道，靜坐講黃庭。」
</p><p>猴王聽說，只得相辭。出深林，找上路徑，過一山坡，約有七八里遠，果然望見一座洞府。挺身觀看，真好去處！但見：煙霞散彩，日月搖光。千株老柏，萬節修篁。千株老柏，帶雨半空青冉冉﹔萬節修篁，含煙一壑色蒼蒼。門外奇花佈錦，橋邊瑤草噴香。石崖突兀青苔潤，懸壁高張翠蘚長。時聞仙鶴唳，每見鳳凰翔。仙鶴唳時，聲振九皋霄漢遠﹔鳳凰翔起，翎毛五色彩雲光。玄猿白鹿隨隱見，金獅玉象任行藏。細觀靈福地，真個賽天堂。
</p><p>美猴王正喜間，忽對眾說道：「汝等弓弩熟諳，兵器精通，奈我這口刀著實榔?，不遂我意，奈何？」四老猴上前啟奏道：「大王乃是仙聖，凡兵是不堪用。但不知大王水裏可能去得？」悟空道：「我自聞道之後，有七十二般地煞變化之功，觔斗雲有莫大的神通﹔善能隱身遯身，起法攝法。上天有路，入地有門﹔步日月無影，入金石無礙﹔水不能溺，火不能焚。那些兒去不得？」四猴道：「大王既有此神通，我們這鐵板橋下，水通東海龍宮。大王若肯下去，尋著老龍王，問他要件甚麼兵器，卻不趁心？」悟空聞言，甚喜道：「等我去來。」
</p><p>須臾，按落雲頭，回至花果山上。只見那四健將與各洞妖王，在那裏操演兵卒。這猴王厲聲高叫道：「小的們，老孫來了。」一群猴都來叩頭，迎接進洞天深處，請猴王高登寶位，一壁廂辦酒接風。都道：「恭喜大王，上界去十數年，想必得意榮歸也？」猴王道：「我才半月有餘，那裏有十數年？」眾猴道：「大王，你在天上不覺時辰。天上一日，就是下界一年哩。請問大王，官居何職？」猴王搖手道：「不好說，不好說，活活的羞殺人。那玉帝不會用人，他見老孫這般模樣，封我做個甚麼『弼馬溫』，原來是與他養馬，未入流品之類。我初到任時不知，只在御馬監中頑耍。及今日問我同寮，始知是這等卑賤。老孫心中大惱，推倒席面，不受官銜，因此走下來了。」眾猴道：「來得好，來得好。大王在這福地洞天之處為王，多少尊重快樂，怎麼肯去與他做馬夫？」教小的們快辦酒來，與大王釋悶。
</p><p>如來講罷，對眾言曰：「我觀四大部洲，眾生善惡，各方不一：東勝神洲者，敬天禮地，心爽氣平﹔北俱盧洲者，雖好殺生，只因糊口，性拙情疏，無多作踐﹔我西牛賀洲者，不貪不殺，養氣潛靈，雖無上真，人人固壽﹔但那南贍部洲者，貪淫樂禍，多殺多爭，正所謂口舌兇場，是非惡海。我今有三藏真經，可以勸人為善。」諸菩薩聞言，合掌皈依，向佛前問曰：「如來有那三藏真經？」如來曰：「我有法一藏，談天﹔論一藏，說地﹔經一藏，度鬼。三藏共計三十五部，該一萬五千一百四十四卷，乃是修真之經，正善之門。我待要送上東土，叵耐那方眾生愚蠢，毀謗真言，不識我法門之旨要，怠慢了瑜迦之正宗。怎麼得一個有法力的，去東土尋一個善信，教他苦歷千山，詢經萬水，到我處求取真經，永傳東土，勸化眾生，卻乃是個山大的福緣，海深的善慶。誰肯去走一遭來？」當有觀音菩薩行近蓮臺，禮佛三匝道：「弟子不才，願上東土尋一個取經人來也。」諸眾抬頭觀看，那菩薩：理圓四德，智滿金身。纓絡垂珠翠，香環結寶明。烏雲巧疊盤龍髻，繡帶輕飄彩鳳翎。碧玉紐，素羅袍，祥光籠罩﹔錦絨裙，金落索，瑞氣遮迎。眉如小月，眼似雙星。玉面天生喜，朱脣一點紅。淨瓶甘露年年盛，斜插垂楊歲歲青。解八難，度群生，大慈憫：故鎮太山，居南海，救苦尋聲，萬稱萬應，千聖千靈。蘭心欣紫竹，蕙性愛香藤。他是落伽山上慈悲主，潮音洞裏活觀音。
</p><p>潮落旋移孤艇去，夜深罷棹歌來。簑衣殘月甚幽哉，宿鷗驚不起，天際彩雲開。
</p><p>蒼徑秋高拽斧去，晚涼抬擔回來。野花插鬢更奇哉，撥雲尋路出，待月
</p><p>上路來，拽開雲步，徑到長安城西門大街上。只見一簇人，擠擠雜雜，鬧鬧哄哄。內有高談闊論的道：「屬龍的本命，屬虎的相沖。寅辰巳亥，雖稱合局，但怕的是日犯歲君。」龍王聞言，情知是賣卜之處。走上前，分開眾人，望裏觀看。只見：四壁珠璣，滿堂綺繡。寶鴨香無斷，磁瓶水恁清。兩邊羅列王維畫，座上高懸鬼谷形。端溪硯，金煙墨，相襯著霜毫大筆﹔火珠林，郭璞數，謹對了臺政新經。六爻熟諳，八卦精通。能知天地理，善曉鬼神情。一槃子午安排定，滿腹星辰佈列清。真個那未來事，過去事，觀如月鏡﹔幾家興，幾家敗，鑑若神明。知凶定吉，斷死言生。開談風雨迅，下筆鬼神驚。招牌有字書名姓，神課先生袁守誠。
</p><p>這涇河龍王也不回水府，只在空中。等到子時前後，收了雲頭，斂了霧角，徑來皇宮門首。此時唐王正夢出宮門之外，步月花陰。忽然龍王變作人相，上前跪拜，口叫：「陛下，救我，救我。」太宗云：「你是何人？朕當救你。」龍王云：「陛下是真龍，臣是業龍。臣因犯了天條，該陛下賢臣人曹官魏徵處斬，故來拜求，望陛下救我一救。」太宗曰：「既是魏徵處斬，朕可以救你，你放心前去。」龍王歡喜，叩謝而去。
</p><p>當日天晚，各取披掛，他兩個介冑整齊，執金瓜、鉞斧，在宮門外把守。好將軍！你看他怎生打扮：頭戴金盔光爍爍，身披鎧甲龍鱗。護心寶鏡幌祥雲，獅蠻收緊扣，繡帶彩霞新。這一個鳳眼朝天星斗怕，那一個環睛映電月光浮。他本是英雄豪傑舊勳臣，只落得千年稱戶尉，萬古作門神。
</p><p>菩薩欣然從之，拽轉步，徑進東華門裏。黃門官轉奏，蒙旨宣至寶殿。見蕭瑀引著兩個疥癩僧人，立於階下，唐王問曰：「蕭瑀來奏何事？」蕭瑀俯伏階前道：「臣出了東華門前，偶遇二僧，乃賣袈裟與錫杖者。臣思法師玄奘可著此服，故領僧人啟見。」太宗大喜，便問那袈裟價值幾何。菩薩與木叉侍立階下，更不行禮，因問袈裟之價，答道：「袈裟五千兩，錫杖二千兩。」太宗道：「那袈裟有何好處，就值許多？」菩薩道：這袈裟，龍披一縷，免大鵬吞噬之災﹔鶴掛一絲，得超凡入聖之妙。但坐處，有萬神朝禮﹔凡舉動，有七佛隨身。這袈裟，是冰蠶造練抽絲，巧匠翻騰為線，仙娥織就，神女機成，方方簇幅繡花縫。片片相幫堆錦簆。玲瓏散碎鬥妝花，色亮飄光噴寶豔。穿上滿身紅霧遶，脫來一段彩雲飛。三天門外透元光，五岳山前生寶氣。重重嵌就西番蓮，灼灼懸珠星斗象。四角上有夜明珠，攢頂間一顆祖母綠。雖無全照原本體，也有生光八寶攢。這袈裟，閑時折疊，遇聖才穿。閑時折疊，千層包裹透虹霓﹔遇聖才穿，驚動諸天神鬼怕。上邊有如意珠、摩尼珠、辟塵珠、定風珠﹔又有那紅瑪瑙、紫珊瑚、夜明珠、舍利子。偷月沁白，與日爭紅。條條仙氣盈空，朵朵祥光捧聖。條條仙氣盈空，照徹了天關﹔朵朵祥光捧聖，影遍了世界。照山川，驚虎豹﹔影海島，動魚龍。沿邊兩道銷金鎖，叩領連環白玉琮。
</p><p>那菩薩帶了木叉，飛上高臺，遂踏祥雲，直至九霄，現出救苦原身，托了淨瓶楊柳。左邊是木叉惠岸，執著棍，抖搜精神。喜的個唐王朝天禮拜，眾文武跪地焚香。滿寺中僧尼道俗、士人工賈，無一人不拜禱道：「好菩薩！好菩薩！」有讚為證。但見那：瑞靄散繽紛，祥光護法身。九霄華漢裏，現出女真人。那菩薩，頭上戴一頂金葉紐、翠花鋪、放金光、生瑞氣的垂珠纓絡﹔身上穿一領淡淡色、淺淺妝、盤金龍、飛綵鳳的結素藍袍﹔胸前掛一面對月明、舞清風、雜寶珠、攢翠玉的砌香環珮﹔腰間繫一條冰蠶絲、織金邊、登彩雲、促瑤海的錦繡絨裙﹔面前又領一個飛東洋、遊普世、感恩行孝、黃毛紅嘴白鸚哥。手內托著一個施恩濟世的寶瓶，瓶內插著一枝灑青霄、撒大惡、掃開殘霧垂楊柳。玉環穿繡扣，金蓮足下深。三天許出入。這才是救苦救難觀世音。
</p><p>早又是竹敲殘月落，雞唱曉雲生。那眾僧起來，收拾茶水、早齋。玄奘遂穿了袈裟，上正殿，佛前禮拜道：「弟子陳玄奘，前往西天取經，但肉眼愚迷，不識活佛真形。今願立誓：路中逢廟燒香，遇佛拜佛，遇塔掃塔。但願我佛慈悲，早現丈六金身，賜真經，留傳東土。」祝罷，回方丈進齋。齋畢，那二從者整頓了鞍馬，促趲行程。三藏出了山門，辭別眾僧。眾僧不忍分別，直送有十里之遙，噙淚而返。三藏遂直西前進。正是那季秋天氣，但見：數村木落蘆花碎，幾樹楓楊紅葉墜。路途煙雨故人稀，黃菊麗，山骨細，水寒荷破人憔悴。白蘋紅蓼霜天雪，落霞孤鶩長空墜。依稀黯淡野雲飛，玄鳥去，賓鴻至,嘹嘹嚦嚦聲宵碎。
</p><p>師徒兩個走著路，說著話，不覺得太陽西墜。但見：燄燄斜暉返照，天涯海角歸雲。千山鳥雀噪聲頻，覓宿投林成陣。野獸雙雙對對，回窩族族群群。一鉤新月破黃昏。萬點明星光暈。行者道：「師父走動些，天色晚了。那壁廂樹木森森，想必是人家莊院，我們趕早投宿去來。」三藏果策馬而行，徑奔人家，到了莊院前下馬。行者撇了行李，走上前，叫聲：「開門！開門！」那裏面有一老者扶筇而出，?喇的開了門。看見行者這般惡相，腰繫著一塊虎皮，好似個雷公模樣，諕得腳軟身麻，口出譫語道：「鬼來了！鬼來了！」三藏近前攙住，叫道：「老施主休怕。他是我貧僧的徒弟，不是鬼怪。」老者抬頭，見了三藏的面貌清奇，方才立定，問道：「你是那寺裏來的和尚，帶這惡人上我門來？」三藏道：「我貧僧是唐朝來的，往西天拜佛求經。適路過此間，天晚，特造檀府借宿一宵，明早不犯天光就行。萬望方便一二。」老者道：「你雖是個唐人，那個惡的卻非唐人。」悟空厲聲高呼道：「你這個老兒全沒眼色！唐人是我師父，我是他徒弟。我也不是甚糖人，蜜人，我是齊天大聖！你們這裏人家，也有認得我的。我也曾見你來。」那老者道：「你在那裏見我？」悟空道：「你小時不曾在我面前扒柴？不曾在我臉上挑菜？」老者道：「這廝胡說！你在那裏住？我在那裏住？我來你面前扒柴、挑菜？」悟空道：「我兒子便胡說。你是認不得我了，我本是這兩界山石匣中的大聖，你再認認看。」老者方才省悟道：「你倒有些像他。但你是怎麼得出來的？」悟空將菩薩勸善，令他等待唐僧揭帖脫身之事，對那老者細說了一遍。
</p><p>同師前進，不覺的紅日沉西，天光漸晚。但見：淡雲撩亂，山月昏蒙。滿天霜色生寒，四面風聲透體。孤鳥去時蒼渚闊，落霞明處遠山低。疏林千樹吼，空嶺獨猿啼。長途不見行人跡，萬里歸舟入夜時。
</p><p>三眾進西路途，有個月平穩。行過了烏斯藏界，猛抬頭見一座高山。三藏停鞭勒馬道：「悟空、悟能，前面山高，須索仔細仔細。」八戒道：「沒事。這山喚做浮屠山，山中有一個烏巢禪師，在此修行，老豬也曾會他。」三藏道：「他有些甚麼勾當？」八戒道：「他倒也有些道行。他曾勸我跟他修行，我不曾去罷了。」師徒們說著話，不多時，到了山上。好山！但見那：山南有青松碧檜，山北有綠柳紅桃。鬧聒聒，山禽對語；舞翩翩，仙鶴齊飛。香馥馥，諸花千樣色；青冉冉，雜草萬般奇。澗下有滔滔綠水，崖前有朵朵祥雲。真個是景致非常幽雅處，寂然不見往來人。
</p><p>那婦人道：「我是丁亥年三月初三日酉時生，故夫比我年大三歲，我今年四十五歲。大女兒名真真，今年二十歲﹔次女名愛愛，今年十八歲﹔三小女名憐憐，今年十六歲：俱不曾許配人家。雖是小婦人醜陋，卻幸小女俱有幾分顏色，女工針指，無所不會。因是先夫無子，即把他們當兒子看養，小時也曾教他讀些儒書，也都曉得些吟詩作對。雖然居住山莊，也不是那十分粗俗之類，料想也配得過列位長老。若肯放開懷抱，長髮留頭，與舍下做個家長，穿綾著錦，勝強如那瓦缽緇衣，芒鞋雲笠。」三藏坐在上面，好便似雷驚的孩子，雨淋的蝦蟆：只是呆呆掙掙，翻白眼兒打仰。
</p><p>少時間，見獃子拉將馬來拴下。長老道：「你馬放了？」八戒道：「無甚好草，沒處放馬。」行者道：「沒處放馬，可有處牽馬麼？」獃子聞得此言，情知走了消息，也就垂頭扭頸，努嘴皺眉，半晌不言。又聽得呀的一聲，腰門開了，有兩對紅燈、一副提爐，香雲靄靄，環珮叮叮，那婦人帶著三個女兒，走將出來，叫真真、愛愛、憐憐，拜見那取經的人物。那女子排立廳中，朝上禮拜。果然也生得標致，但見他：一個個蛾眉橫翠，粉面生春。妖嬈傾國色，窈窕動人心。花鈿顯現多嬌態，繡帶飄搖迥絕塵。半含笑處櫻桃綻，緩步行時蘭麝噴。滿頭珠翠，顫巍巍無數寶釵簪﹔遍體幽香，嬌滴滴有花金縷細。說甚麼楚娃美貌，西子嬌容。真個是九天仙女從天降，月裏嫦娥出廣寒。
</p><p>說話後，都已天昏，不覺東方月上。行者道：「此時萬籟無聲，冰輪明顯，正好走了去罷。」八戒道：「哥呵，不要搗鬼，門俱鎖閉，往那裏走？」行者道：「你看手段。」把金箍棒捻在手中，使一個「解鎖法」，往門上一指，只聽得突蹡的一聲響，幾層門雙錤俱落，唿喇的開了門扇。八戒笑道：「好本事，就是叫小爐兒匠使掭子，便也不像這等爽利。」行者道：「這個門兒有甚稀罕，就是南天門，指一指也開了。」卻請師父出了門，上了馬，八戒挑著擔，沙僧攏著馬，徑投西路而去。行者道：「你們且慢行，等老孫去照顧那兩個童兒睡一個月。」三藏道：「徒弟，不可傷他性命﹔不然，又一個得財傷人的罪了。」行者道：「我曉得。」行者復進去，來到那童兒睡的房門外。他腰裏有帶的瞌睡蟲兒，原來在東天門與增長天王猜枚耍子贏的。他摸出兩個來，瞞窗眼兒彈將進去，徑奔到那童子臉上，鼾鼾沉睡，再莫想得醒。他才拽開雲步，趕上唐僧，順大路一直西奔。
</p><p>卻說那大仙自元始宮散會，領眾小仙出離兜率，徑下瑤天，墜祥雲，早來到萬壽山五莊觀門首。看時，只見觀門大開，地上乾淨。大仙道：「清風、明月，卻也中用。常時節日高三丈，腰也不伸﹔今日我們不在，他倒肯起早，開門掃地。」眾小仙俱悅。行至殿上，香火全無，人蹤俱寂，那裏有明月、清風。眾仙道：「他兩個想是因我們不在，拐了東西走了。」大仙道：「豈有此理！修仙的人，敢有這般壞心的事？想是昨晚忘卻關門，就去睡了，今早還未醒哩。」眾仙到他房門首看處，真個關著房門，鼾鼾沉睡﹔任外邊打門亂叫，那裏叫得醒來。眾仙撬開門板，著手扯下床來，也只是不醒。大仙笑道：「好仙童呵，成仙的人，神滿再不思睡，卻怎麼這般困倦？莫不是有人做弄了他也？快取水來。」一童急取水半盞遞與大仙。大仙念動咒語，噀一口水，噴在臉上，隨即解了睡魔。
</p><p>大仙與明月、清風縱起祥光，來趕三藏，頃刻間就有千里之遙。大仙在雲端裏向西觀看，不見唐僧。及轉頭向東看時，倒多趕了九百餘里。原來那長老一夜馬不停蹄，只行了一百二十里路﹔大仙的雲頭，一縱趕過了九百餘里。仙童道：「師父，那路旁樹下坐的是唐僧。」大仙道：「我已見了。你兩個回去安排下繩索，等我自家拿他。」清風、明月先回不題。
</p><p>卻說那大聖雖被唐僧逐趕，然猶思念感嘆不已，早望見東洋大海，道：「我不走此路者，已五百年矣！」只見那海水：煙波蕩蕩，巨浪悠悠。煙波蕩蕩接天河，巨浪悠悠通地脈。潮來洶湧，水浸灣環。潮來洶湧，猶如霹靂吼三春﹔水浸灣環，卻似狂風吹九夏。乘龍福老，往來必定皺眉行﹔跨鶴仙童，反覆果然憂慮過。近岸無村社，傍水少漁舟。浪捲千年雪，風生六月秋。野禽憑出沒，沙鳥任沉浮。眼前無釣客，耳畔只聞鷗。海底遊游樂，天邊過雁愁。那行者將身一縱，跳過了東洋大海，早至花果山。按落雲頭，睜睛觀看，那山上花草俱無，煙霞盡絕﹔峰巖倒塌，林樹焦枯。你道怎麼這等？只因他鬧了天宮，拿上界去，此山被顯聖二郎神率領那梅山七弟兄，放火燒壞了。這大聖倍加悽慘。有一篇敗山頹景的古風為證。古風云：
</p><p>石崖高萬丈，山大接青霄。根連地厚，峰插天高。兩邊雜樹數千棵，前後藤纏百餘里。花映草梢風有影，水流雲竇月無根。倒木橫擔深澗，枯藤結掛光峰。石橋下，流滾滾清泉﹔臺座上，長明明白粉。遠觀一似三島天堂，近看有如蓬萊勝境。香松紫竹遶山溪，鴉鵲猿猴穿峻嶺。洞門外，有一來一往的走獸成行﹔樹林裏，有或出或入的飛禽作隊。青青香草秀，艷艷野花開。這所在分明是惡境，那長老晦氣撞將來。
</p><p>八戒當頭領路，沙僧後隨，出了那松林，上了大路。你看他兩個嚌嚌嘈嘈，埋埋怨怨，三藏只是解和。遇晚先投宿，雞鳴早看天。一程一程，長亭短亭，不覺的就走了二百九十九里。猛抬頭，只見一座好城，就是寶象國。真好個處所也：雲渺渺，路迢迢。地雖千里外，景物一般饒。瑞靄祥煙籠罩，清風明月招搖。嵂嵂崒崒的遠山，大開圖畫﹔潺潺湲湲的流水，碎濺瓊瑤。可耕的連阡帶陌，足食的密蕙新苗。漁釣的幾家三澗曲，樵採的一擔兩峰椒。廓的廓，城的城，金湯鞏固﹔家的家，戶的戶，只鬥逍遙。九重的高閣如殿宇，萬丈的層臺似錦標。也有那太極殿、華蓋殿、燒香殿、觀文殿、宣政殿、延英殿，一殿殿的玉陛金階，擺列著文冠武弁﹔也有那大明宮、昭陽宮、長樂宮、華清宮、建章宮、未央宮，一宮宮的鐘鼓管籥，撒抹了閨怨春愁。也有禁苑的露花勻嫩臉，也有御溝的風柳舞纖腰。通衢上，也有個頂冠束帶的，盛儀容，乘五馬﹔幽僻中，也有個持弓挾矢的，撥雲霧，貫雙鵰。花柳的巷，管弦的樓，春風不讓洛陽橋。取經的長老，回首大唐肝膽裂﹔伴師的徒弟，息肩小驛夢魂消。
</p><p>他兩個不多時到了洞口，按落雲頭。八戒掣鈀，往那波月洞的門上盡力氣一築，把他那石門築了斗來大小的個窟窿。嚇得那把門的小妖開門，看見是他兩個，急跑進去報道：「大王，不好了，那長嘴大耳的和尚，與那晦色氣臉的和尚，又來把門都打破了。」那怪驚道：「這個還是豬八戒、沙和尚二人。我饒了他師父，怎麼又敢復來打我的門？」小妖道：「想是忘了甚麼物件，來取的。」老怪咄的一聲道：「胡纏，忘了物件，就敢打上門來？必有緣故。」急整束了披掛，綽了鋼刀，走出來問道：「那和尚，我既饒了你師父，你怎麼又敢來打上我門？」八戒道：「你這潑怪幹得好事兒。」老魔道：「甚麼事？」八戒道：「你把寶象國三公主騙來洞內，倚強霸占為妻，住了一十三載，也該還他了。我奉國王旨意，特來擒你。你快快進去，自家把繩子綁縛出來，還免得老豬動手。」那老怪聞言，十分發怒。你看他屹迸迸，咬響鋼牙﹔滴溜溜，睜圓環眼﹔雄糾糾，舉起刀來﹔赤淋淋，攔頭便砍。八戒側身躲過，使釘鈀劈面迎來﹔隨後又有沙僧舉寶杖趕上前齊打。這一場在山頭上賭鬥，比前不同。真個是：言差語錯招人惱，意毒情傷怒氣生。這魔王大鋼刀，著頭便砍﹔那八戒九齒鈀，對面來迎。沙悟淨丟開寶杖，那魔王抵架神兵。一猛怪，二神僧，來來往往甚消停。這個說：「你騙國理該死罪。」那個說：「你羅閑事報不平。」這個說：「你強婚公主傷國體。」那個說：「不干你事莫閑爭。」算來只為捎書故，致使僧魔兩不寧。
</p><p>那獃子急縱雲頭，徑回城裏。半霎時，到了館驛。此時人靜月明。兩廊下尋不見師父，只見白馬睡在那廂，渾身水濕，後腿有盤子大小一點青痕。八戒失驚道：「雙晦氣了。這亡人又不曾走路，怎麼身上有汗，腿有青痕？想是歹人打劫師父，把馬打壞了。」那白馬認得是八戒，忽然口吐人言，叫聲：「師兄。」這獃子嚇了一跌，扒起來，往外要走。被白馬探探身，一口咬住皂衣，道：「哥呵，你莫怕我。」八戒戰兢兢的道：「兄弟，你怎麼今日說起話來了？你但說話，必有大不祥之事。」小龍道：「你知師父有難麼？」八戒道：「我不知。」小龍道：「你是不知。你與沙僧在皇帝面前弄了本事，思量拿倒妖魔，請功求賞。不想妖魔本領大，你們手段不濟，禁他不過。好道著一個回來，說個信息是，卻更不聞音。那妖精變做一個俊俏文人，撞入朝中，與皇帝認了親眷。把我師父變作一個斑斕猛虎，見被眾臣捉住，鎖在朝房鐵籠裏面。我聽得這般苦惱，心如刀割。你兩日又不在不知，恐一時傷了性命，只得化龍身去救，不期到朝裏，又尋不見師父。及到銀安殿外，遇見妖精，我又變做個宮娥模樣，哄那怪物。那怪叫我舞刀他看，遂爾留心，砍他一刀。早被他閃過，雙手舉個滿堂紅，把我戰敗。我又飛刀砍去，他又把刀接了，捽下滿堂紅，把我後腿上著了一下。故此鑽在御水河，逃得性命。腿上青是他滿堂紅打的。」
</p><p>須臾洗畢，復駕雲西進，只見那金塔放光。八戒指道：「那不是黃袍怪家？沙僧還在他家裏。」行者道：「你在空中，等我下去看看那門前如何，好與妖精見陣。」八戒道：「不要去，妖精不在家。」行者道：「我曉得。」好猴王，按落祥光，徑至洞門外觀看。只見有兩個小孩子，在那裏使彎頭棍，打毛毬，搶窩耍子哩。一個有十來歲，一個有八九歲了。正戲處，被行者趕上前，也不管他是張家李家的，一把抓著頂搭子，提將過來。那孩子吃了諕，口裏夾罵帶哭的亂嚷。驚動那波月洞的小妖，急報與公主道：「奶奶，不知甚人把二位公子搶去也。」原來那兩個孩子是公主與那怪生的。
</p><p>輪動煙霞遮日月，使起昏雲暗斗星。
</p><p>早有遊神急降大聖耳邊道：「哪吒太子來助功了。」行者仰面觀之，只見祥雲繚繞，果是有神。卻回頭對小妖道：「裝天罷。」小妖道：「要裝就裝，只管阿綿花屎怎的？」行者道：「我方才運神念咒來。」那小妖都睜著眼，看他怎麼樣裝天。這行者將一個假葫蘆兒拋將上去。你想，這是一根毫毛變的，能有多重？被那山頂上風吹去，飄飄蕩蕩，足有半個時辰，方才落下。只見那南天門上，哪吒太子把皂旗撥喇喇展開，把日月星辰俱遮閉了。真是乾坤墨染就，宇宙靛裝成。二小妖大驚道：「才說話時，只好向午，卻怎麼就黃昏了？」行者道：「天既裝了，不辨時候，怎不黃昏？」「如何又這等樣黑？」行者道：「日月星辰都裝在裏面，外卻無光，怎麼不黑？」小妖道：「師父，你在那廂說話哩？」行者道：「我在你面前不是？」小妖伸手摸著道：「只見說話，更不見面目。師父，此間是甚麼去處？」行者又哄他道：「不要動腳，此間乃是渤海岸上，若塌了腳，落下去呵，七八日還不得到底哩。」小妖大驚道：「罷罷罷，放了天罷，我們曉得是這樣裝了。若弄一會子，落下海去，不得歸家。」
</p><p>師徒們離了烏雞國，夜住曉行，將半月有餘，忽又見一座高山，真個是摩天礙日。三藏馬上心驚，急兜韁忙呼行者。行者道：「師父有何吩咐？」三藏道：「你看前面又有大山峻嶺，須要仔細隄防，恐一時又有邪物來侵我也。」行者笑道：「只管走路，莫再多心，老孫自有防護。」那長老只得寬懷，加鞭策馬，奔至山巖，果然也十分險峻。但見得：高不高，頂上接青霄﹔深不深，澗中如地府。山前常見骨都都白雲，扢騰騰黑霧。紅梅翠竹，綠柏青松。山後有千萬丈挾魂靈臺，臺後有古古怪怪藏魔洞，洞中有叮叮噹噹滴水泉，泉下有彎彎曲曲流水澗。又見那跳天搠地獻果猿，丫丫叉叉帶角鹿，呢呢痴痴看人獐。至晚巴山尋穴虎，待曉翻波出水龍。登得洞門唿喇的響，驚得飛禽撲魯的起。看那林中走獸鞠律律的行，見此一夥禽和獸，嚇得人心扢磴磴驚。堂倒洞堂堂倒洞，洞當當倒洞當仙。青石染成千塊玉，碧紗籠罩萬堆煙。
</p><p>鬢挽青雲欺靛染，眉分新月似刀裁。
</p><p>那怪物聞言，那裏肯信，舉起火尖槍就刺。行者正是那會家不忙，又使了一個身法，閃過槍頭，掄起鐵棒，罵道：「你這小畜生，不識高低，看棍！」那妖精也使身法，讓過鐵棒道：「潑猢猻，不達時務，看槍！」他兩個也不論親情，一齊變臉，各使神通，跳在雲端裏，好殺：行者名聲大，魔王手段強。一個橫舉金箍棒，一個直挺火尖槍。吐霧遮三界，噴雲照四方。一天殺氣兇聲吼，日月星辰不見光。語言無遜讓，情意兩乖張。那一個欺心失禮儀，這一個變臉沒綱常。棒架威風長，槍來野性狂。一個是混元真大聖，一個是正果善財郎。二人努力爭強勝，只為唐僧拜法王。
</p><p>話說唐三藏幸虧龍子降妖，黑水河神開路，師徒們過了黑水河，找大路一直西來。真個是迎風冒雪，戴月披星。行勾多時，又值早春天氣。但見：三陽轉運，萬物生輝。三陽轉運，滿天明媚開圖畫﹔萬物生輝，遍地芳菲設繡茵。梅殘數點雪，麥漲一川雲。漸開冰解山泉溜，盡放萌芽沒燒痕。正是那：太昊乘震，勾芒御辰﹔花香風氣暖，雲淡日光新﹔道傍楊柳舒青眼，膏雨滋生萬象春。
</p><p>行者漸漸按下雲頭來看處，呀！那車子裝的都是磚瓦、木植、土坯之類。灘頭上坡最高，又有一道夾脊小路，兩座大關。關下之路都是直立壁陡之崖，那車兒怎麼拽得上去？雖是天色和暖，那些人卻也衣衫藍縷，看此像十分窘迫。行者心疑道：「想是修蓋寺院，他這裏五穀豐登，尋不出雜工人來，所以這和尚親自努力。」正自猜疑未定，只見那城門裏搖搖擺擺，走出兩個少年道士來。你看他怎生打扮。但見他：頭戴星冠，身披錦繡。頭戴星冠光耀耀，身披錦繡彩霞飄。足踏雲頭履，腰繫熟絲絛。面如滿月多聰俊，形似瑤天仙客嬌。
</p><p>行者道：「可藏得好麼？」八戒道：「藏便藏得好，只是灒起些水來，污了衣服，有些醃臟臭氣，你休惡心。」行者笑道：「也罷，你且來受用。但不知可得個乾淨身子出門哩。」那獃子還變做老君，三人坐下，盡情受用。先吃了大饅頭，後吃簇盤、襯飯、點心、拖爐、餅錠、油煠、蒸酥，那裏管甚麼冷熱，任情吃起。原來孫行者不大吃煙火食，只吃幾個果子，陪他兩個。那一頓如流星趕月，風捲殘雲，吃得罄盡，已此沒得吃了。還不走路，且在那裏閑講，消食耍子。
</p><p>國王見此有些難處，就便傳旨問道：「那和尚，我國師要與你賭『雲梯顯聖』坐禪，那個會麼？」行者聞言，沉吟不答。八戒道：「哥哥，怎麼不言語？」行者道：「兄弟，實不瞞你說。若是踢天弄井、攪海翻江、擔山趕月、換斗移星諸般巧事，我都幹得﹔就是砍頭剁腦、剖腹剜心、異樣騰那卻也不怕﹔但說坐禪，我就輸了。我那裏有這坐性？你就把我鎖在鐵柱子上，我也要上下爬蹅，莫想坐得住。」三藏忽的開言道：「我會坐禪。」行者歡喜道：「卻好，卻好。可坐得多少時？」三藏道：「我幼年遇方上禪僧講道，那性命根本上，定性存神，在死生關裏，也坐二三個年頭。」行者道：「師父若坐二三年，我們就不取經罷。多也不上二三個時辰，就下來了。」三藏道：「徒弟啞，卻是不能上去。」行者道：「你上前答應，我送你上去。」
</p><p>掄動煙雲遮日月，使開霞彩照分明。
</p><p>行者在傍閃過，見那魔王生得好不兇醜：獨角參差，雙眸晃亮。頂上粗皮突，耳根黑肉光。舌長時攪鼻，口闊版牙黃。毛皮青似靛，筋攣硬如鋼。比犀難照水，像牯不耕荒。全無喘月犁雲用，倒有欺天振地強。兩隻焦筋藍靛手，雄威直挺點鋼槍。細看這等兇模樣，不枉名稱兕大王。
</p><p>真仙聞言，喜孜孜滿懷春意，笑盈盈一陣威風，挺如意鉤子，走出門來喝道：「潑猢猻！你又來作甚？」大聖道：「我來只是取水。」真仙道：「泉水乃吾家之井，憑是帝王宰相，也須表禮羊酒來求，方才僅與些須；況你又是我的仇人，擅敢白手來取？」大聖道：「真個不與？」真仙道：「不與，不與。」大聖罵道：「潑孽障！既不與水，看棍！」丟一個架子，搶個滿懷，不容說，著頭便打；那真仙側身躲過，使鉤子急架相還。這一場比前更勝，好殺：金箍棒，如意鉤，二人奮怒各懷仇。飛砂走石乾坤暗，播土揚塵日月愁。大聖救師來取水，妖仙為侄不容求。兩家齊努力，一處賭安休。咬牙爭勝負，切齒定剛柔。添機見，越抖搜，噴雲噯霧鬼神愁。樸樸兵兵鉤棒響，喊聲哮吼振山丘。狂風滾滾催林木，殺氣紛紛過斗牛。大聖愈爭愈喜悅，真仙越打越綢繆。有心有意相爭戰，不定存亡不罷休。
</p><p>卻說那女怪放下兇惡之心，重整歡愉之色，叫：「小的們，把前後門都關緊了。」又使兩個支更，防守行者，但聽門響，即時通報。卻又教：「女童，將臥房收拾齊整，掌燭焚香，請唐御弟來，我與他交歡。」遂把長老從後邊攙出。那女怪弄出十分嬌媚之態，攜定唐僧道：「常言：『黃金未為貴，安樂值錢多。』且和你做會夫妻兒耍子去也。」這長老咬定牙關，聲也不透。欲待不去，恐他生心害命，只得戰兢兢，跟著他步入香房。卻如痴如啞，那裏抬頭舉目，更不曾看他房裏是甚床鋪幔帳，也不知有甚箱籠梳妝。那女怪說出的雨意雲情，亦漠然無聽。好和尚，真是：目不視惡色，耳不聽淫聲。他把這錦繡嬌容如糞土，金珠美貌若灰塵。一生只愛參禪，半步不離佛地。那裏會惜玉憐香，只曉得修真養性。那女怪活潑潑，春意無邊；這長老死丁丁，禪機有在。一個似軟玉溫香，一個如死灰槁木。那一個展鴛衾，淫興濃濃；這一個束褊衫，丹心耿耿。那個要貼胸交股和鸞鳳，這個要面壁歸山訪達摩。女怪解衣，賣弄他肌香膚膩；唐僧斂衽，緊藏了糙肉粗皮。女怪道：「我枕剩衾閑何不睡？」唐僧道：「我頭光服異怎相陪？」那個道：「我願作前朝柳翠翠。」這個道：「貧僧不是月闍黎。」女怪道：「我美若西施還嬝娜。」唐僧道：「我越王因此久埋屍。」女怪道：「御弟，你記得『寧教花下死，做鬼也風流？』」唐僧道：「我的真陽為至寶，怎肯輕與你這粉骷髏……」
</p><p>沙僧一駕雲離了東海，行經一晝夜，到了南海。正行時，早見落伽山不遠。急至前，低停雲霧觀看，好去處！果然是：包乾之奧，括坤之區。會百川而浴日滔星，歸眾流而生風漾月。潮發騰凌大鯤化，波翻浩蕩巨鰲遊。水通西北海，浪合正東洋。四海相連同地脈，仙方洲島各仙宮。休言滿地蓬萊，且看普陀雲洞。好景致！山頭霞彩壯元精，巖下祥風漾月晶。紫竹林中飛孔雀，綠楊枝上語靈鸚。琪花瑤草年年秀，寶樹金蓮歲歲生。白鶴幾番朝頂上，素鸞數次到山亭。遊魚也解修真性，躍浪穿波聽講經。
</p><p>話表三藏遵菩薩教旨，收了行者，與八戒、沙僧剪斷二心，鎖猿馬，同心戮力，趕奔西天。說不盡光陰似箭，日月如梭。歷過了夏月炎天，卻又值三秋霜景。但見那：薄雲斷絕西風緊，鶴鳴遠岫霜林錦。光景正蒼涼，山長水更長。征鴻來北塞，玄鳥歸南陌。客路怯孤單，衲衣容易寒。
</p><p>行者聞言，急抽身走入裏面，將糕遞與三藏道：「師父放心，且莫隔年焦著。吃了糕，我與你說。」長老接糕在手，向本宅老者道：「公公請糕。」老者道：「我家的茶飯未奉，敢吃你糕？」行者笑道：「老人家，茶飯倒不必賜，我問你：鐵扇仙在那裏住？」老者道：「你問他怎的？」行者道：「適才那賣糕人說，此仙有柄芭蕉扇。求將來，一扇息火，二扇生風，三扇下雨，你這方布種收割，才得五穀養生。我欲尋他討來搧息火燄山過去，且使這方依時收種，得安生也。」老者道：「固有此說，你們卻無禮物，恐那聖賢不肯來也。」三藏道：「他要甚禮物？」老者道：「我這裏人家，十年拜求一度。四豬四羊、花紅表裏、異香時果、雞鵝美酒，沐浴虔誠，拜到那仙山，請他出洞，至此施為。」行者道：「那山坐落何處？喚甚地名？有幾多里數？等我問他要扇子去。」老者道：「那山在西南方，名喚翠雲山。山中有一仙洞，名喚芭蕉洞。我這裏眾信人等去拜仙山，往回要走一月，計有一千四百五六十里。」行者笑道：「不打緊，就去就來。」那老者道：「且住，吃些茶飯，辦些乾糧，須得兩人做伴。那路上沒有人家，又多狼虎，非一日可到，莫當耍子。」行者笑道：「不用，不用。我去也。」說一聲，忽然不見。那老者慌張道：「爺爺啞，原來是騰雲駕霧的神人也。」
</p><p>遂別了樵夫，徑至芭蕉洞口。但見那兩扇門緊閉牢關，洞外風光秀麗。好去處！正是那：山以石為骨，石作土之精。煙霞含宿潤，苔蘚助新青。嵯峨勢聳欺蓬島，幽靜花香若海瀛。幾樹喬松棲野鶴，數株衰柳語山鶯。誠然是千年古跡，萬載仙蹤。碧梧鳴彩鳳，活水隱蒼龍。曲逕蓽蘿垂掛，石梯藤葛攀籠。猿嘯翠巖忻月上，鳥啼高樹喜晴空。兩林竹蔭涼如雨，一逕花濃沒繡絨。時見白雲來遠岫，略無定體漫隨風。
</p><p>那羅剎出門，高叫道：「孫悟空何在？」行者上前，躬身施禮道：「嫂嫂，老孫在此奉揖。」羅剎咄的一聲道：「誰是你的嫂嫂？那個要你奉揖？」行者道：「尊府牛魔王，當初曾與老孫結義，乃七兄弟之親。今聞公主是牛大哥令正，安得不以嫂嫂稱之？」羅剎道：「你這潑猴！既有兄弟之親，如何坑陷我子？」行者佯問道：「令郎是誰？」羅剎道：「我兒是號山枯松澗火雲洞聖嬰大王紅孩兒。被你傾了，我們正沒處尋你報仇，你今上門納命，我肯饒你？」行者滿臉陪笑道：「嫂嫂原來不察理，錯怪了老孫。你令郎因是捉了師父，要蒸要煮，幸虧了觀音菩薩收他去，救出我師。他如今現在菩薩處做善財童子，實受了菩薩正果，不生不滅，不垢不淨，與天地同壽，日月同庚。你倒不謝老孫保命之恩，返怪老孫，是何道理？」羅剎道：「你這個巧嘴的潑猴！我那兒雖不傷命，再怎生得到我的跟前，幾時能見一面？」行者笑道：「嫂嫂要見令郎，有何難處？你且把扇子借我，搧息了火，送我師父過去，我就到南海菩薩處請他來見你，就送扇子還你，有何不可？那時節，你看他可曾損傷一毫？如有些須之傷，你也怪得有理；如比舊時標致，還當謝我。」羅剎道：「潑猴！少要饒舌，伸過頭來，等我砍上幾劍：若受得疼痛，就借扇子與你；若忍耐不得，教你早見閻君。」行者叉手向前，笑道：「嫂嫂切莫多言。老孫伸著光頭，任尊意砍上多少，但沒氣力便罷。是必借扇子用用。」那羅剎不容分說，雙手掄劍，照行者頭上乒乒乓乓，砍有十數下，這行者全不認真。羅剎害怕，回頭要走。行者道：「嫂嫂那裏去？快借我使使。」那羅剎道：「我的寶貝原不輕借。」行者道：「既不肯借，吃你老叔一棒。」
</p><p>那女子一聽鐵扇公主請牛魔王之言，心中大怒，徹耳根子通紅，潑口罵道：「這賤婢，著實無知。牛王自到我家，未及二載，也不知送了他多少珠翠金銀、綾羅緞疋，年供柴，月供米，自自在在受用，還不識羞，又來請他怎的？」大聖聞言，情知是玉面公主，故意掣出金箍棒，大喝一聲道：「你這潑賤，將家私買住牛王，誠然是陪錢嫁漢，你倒不羞，卻敢罵誰？」那女子見了，諕得魄散魂飛，沒好步，亂金蓮，戰兢兢回頭便走。這大聖吆吆喝喝，隨後相跟。原來穿過松陰，就是摩雲洞口。女子跑進去，撲的把門關了。大聖卻收了金箍棒，停步看時，好所在：樹林森密，崖削崚嶒。薜蘿陰冉冉，蘭蕙味馨馨。流泉漱玉穿修竹，巧石知機帶落英。煙霞籠遠岫，日月照雲屏。龍吟虎嘯，鶴唳鶯鳴。一片清幽真可愛，琪花瑤草景常明。不亞天台仙洞，勝如海上蓬瀛。
</p><p>三藏聞言，大喜道：「你這裏是何地方？有何冤屈？」眾僧跪告：「爺爺，此城名喚祭賽國，乃西邦大去處。當年有四夷朝貢：南，月陀國；北，高昌國；東，西梁國；西，本缽國。年年進貢美玉、明珠、嬌妃、駿馬。我這裏不動干戈，不去征討，他那裏自然拜為上邦。」三藏道：「既拜為上邦，想是你這國王有道，文武賢良。」眾僧道：「爺爺，文也不賢，武也不良，國君也不是有道。我這金光寺，自來寶塔上祥雲籠罩，瑞靄高升：夜放霞光？萬里有人曾見；晝噴彩氣，四國無不同瞻。故此以為天府神京，四夷朝貢。只是三年之前，孟秋朔日，夜半子時，下了一場血雨。天明時，家家害怕，戶戶生悲。眾公卿奏上國王，不知天公甚事見責。當時延請道士打醮，和尚看經，答天謝地。誰曉得我這寺裏黃金寶塔污了，這兩年外國不來朝貢。我王欲要征伐，眾臣諫道：我寺裏僧人偷了塔上寶貝，所以無祥雲瑞靄，外國不朝。昏君更不察理。那些贓官將我僧眾拿了去，千般拷打，萬樣追求。當時我這裏有三輩和尚：前兩輩已被拷打不過，死了；如今又捉我輩，問罪枷鎖。老爺在上，我等怎敢欺心，盜取塔中之寶！萬望爺爺憐念，方以類聚，物以群分，捨大慈大悲，廣施法力，拯救我等性命。」
</p><p>三藏沐浴畢，穿了小袖褊衫，束了環絛，足下換一雙軟公鞋，手裏拿一把新笤帚，對眾僧道：「你等安寢，待我掃塔去來。」行者道：「塔上既被血雨所污，又況日久無光，恐生惡物；一則夜靜風寒，又沒個伴侶：自去恐有差池，老孫與你同上如何？」三藏道：「甚好，甚好。」兩人各持一把，先到大殿上，點起琉璃燈，燒了香，佛前拜道：「弟子陳玄奘奉東土大唐差往靈山參見我佛如來取經，今至祭賽國金光寺，遇本僧言寶塔被污，國王疑僧盜寶，啣冤取罪，上下難明。弟子竭誠掃塔，望我佛威靈，早示污塔之原因，莫致凡夫之冤屈。」祝罷，與行者開了塔門，自下層望上而掃。只見這塔，真是：崢嶸倚漢，突兀凌空。正喚做五色琉璃塔，千金舍利峰。梯轉如穿窟，門開似出籠。寶瓶影射天邊月，金鐸聲傳海上風。但見那虛簷拱斗，絕頂留雲。虛簷拱斗，作成巧石穿花鳳；絕頂留雲，造就浮屠遶霧龍。遠眺可觀千里外，高登似在九霄中。層層門上琉璃燈，有塵無火；步步簷前白玉欄，積垢蟲。塔心裏，佛座上，香煙盡絕；窗櫺外，神面前，蛛網牽朦。爐中多鼠糞，盞內少油鎔。只因暗失中間寶，苦殺僧人命落空。三藏發心將塔掃，管教重見舊時容。
</p><p>卻說祭賽國王與大小公卿見孫大聖與八戒騰雲駕霧，提著兩個小妖飄然而去，一個個朝天禮拜道：「話不虛傳，今日方知有此輩神仙活佛。」又見他遠去無蹤，卻拜謝三藏、沙僧道：「寡人肉眼凡胎，只知高徒有力量，拿住妖賊便了，豈知乃騰雲駕霧之上仙也。」三藏道：「貧僧無些法力，一路上多虧這三個小徒。」沙僧道：「不瞞陛下說，我大師兄乃齊天大聖皈依，他曾大鬧天宮，使一條金箍棒，十萬天兵，無一個對手，只鬧得太上老君害怕，玉皇大帝心驚。我二師兄乃天蓬元帥果正，他也曾掌管天河八萬水兵大眾。惟我弟子無法力，乃捲簾大將受戒。愚弟兄若幹別事無能，若說擒妖縛怪、拿賊捕亡、伏虎降龍、踢天弄井，以至攪海翻江之類，略通一二。這騰雲駕霧、喚雨呼風，與那換斗移星、擔山趕月，特餘事耳，何足道哉！」國王聞說，愈十分加敬，請唐僧上坐，口口稱為「老佛」，將沙僧等皆稱為「菩薩」。滿朝文武欣然，一國黎民頂禮不題。
</p><p>好妖怪，急縱身披掛了，使一般兵器，叫做月牙鏟，步出宮，分開水道，在水面上叫道：「是甚麼齊天大聖？快上來納命。」行者與八戒立在岸邊，觀看那妖精怎生打扮：戴一頂爛銀盔，光欺白雪；貫一副兜鍪甲，亮敵秋霜。上罩著錦征袍，真個是彩雲籠玉；腰束著犀紋帶，果然像花蟒纏金。手執著月牙鏟，霞飛電掣；腳穿著豬皮靴，水利波分。遠看時一頭一面，近睹處四面皆人：前有眼，後有眼，八方通見；左也口，右也口，九口言論。一聲吆喝長空振，似鶴飛鳴貫九宸。
</p><p>行者看勾多時，將雲頭按下道：「師父，這去處遠哩。」三藏問：「有多少遠？」行者道：「一望無際，似有千里之遙。」三藏大驚道：「怎生是好？」沙僧笑道：「師父莫愁，我們也學燒荒的，放上一把火，燒絕了荊棘過去。」八戒道：「莫亂談。燒荒的須在十來月，草衰木枯，方好引火。如今正是蕃盛之時，怎麼燒得？」行者道：「就是燒得，也怕人了。」三藏道：「這般怎生得度？」八戒笑道：「要得度，還依我。」
</p><p>說甚耕雲釣月，此間隱逸堪誇。
</p><p>三藏正自點看，漸覺月明星朗，只聽得人語相談。都道：「十八公請得聖僧來也。」長老抬頭觀看，乃是三個老者：前一個霜姿丰采，第二個綠鬢婆娑，第三個虛心黛色。各各面貌、衣服俱不相同，都來與三藏作禮。長老還了禮，道：「弟子有何德行，敢勞列位仙翁下愛？」十八公笑道：「一向聞知聖僧有道，等待多時，今幸一見。如果不吝珠玉，寬坐敘懷，足見禪機真派。」三藏躬身道：「敢問仙翁尊號？」十八公道：「霜姿者號孤直公，綠鬢者號凌空子，虛心者號拂雲叟，老拙號曰勁節。」三藏道：「四翁尊壽幾何？」孤直公道：
</p><p>拂雲叟道：「禪雖靜，法雖度，須要性定心誠。縱為大覺真仙，終坐無生之道。我等之玄，又大不同。」三藏云：「道乃非常，體用合一，如何不同？」拂雲叟笑云：「我等生來堅實，體用比爾不同。感天地以生身，蒙雨露而滋色。笑傲風霜，消磨日月。一葉不凋，千枝節操。似這話不叩沖虛，你執持梵語。道也者，本安中國，反來求證西方，空費了草鞋，不知尋個甚麼？石獅子剜了心肝，野狐涎灌徹骨髓。忘本參禪，妄求佛果，都似我荊棘嶺葛藤謎語，蘿蓏渾言。此般君子，怎生接引？這等規模，如何印授？必須要檢點見前面目，靜中自有生涯。沒底竹籃汲水，無根鐵樹生花。靈寶峰頭牢著腳，歸來雅會上龍華。」三藏聞言，叩頭拜謝。十八公用手攙扶，孤直公將身扯起，凌空子打個哈哈道：「拂雲之言，分明漏泄。聖僧請起，不可盡信。我等趁此月明，原不為講論修持，且自吟哦逍遙，放蕩襟懷也。」拂雲叟笑指石屋道：「若要吟哦，且入小庵一茶，何如？」
</p><p>唐三藏一見心驚。孫行者神通廣大，你看他一條金箍棒，哮吼一聲，嚇過了狼蟲虎豹，剖開路，引師父直上高山。行過嶺頭，下西平處，忽見祥光藹藹，彩霧紛紛，有一所樓臺殿閣，隱隱的鐘磬悠揚。三藏道：「徒弟們，看是個甚麼去處？」行者抬頭，用手搭涼篷，仔細觀看，那壁廂好個所在。真個是：珍樓寶座，上剎名方。谷虛繁地籟，境寂散天香。青松帶雨遮高閣，翠竹留雲護講堂。霞光縹緲龍宮顯，彩色飄颻沙界長。朱欄玉戶，畫棟雕梁。談經香滿座，語籙月當窗。鳥啼丹樹內，鶴飲石泉傍。四圍花發琪園秀，三面門開舍衛光。樓臺突兀門迎嶂，鐘磬虛徐聲韻長。窗開風細，簾捲煙茫。有僧情散淡，無俗意和昌。紅塵不到真仙境，靜土招提好道場。
</p><p>那妖精前前後後尋不著唐僧等，又見天色將明，取了棒，帥眾來趕，只見那二十八宿與五方揭諦等神雲霧騰騰，屯住山坡之下。妖王喝了一聲：「那裏去？吾來也。」角木蛟急喚：「兄弟們，怪物來了。」亢金龍、氐土蝠、房日兔、心月狐、尾火虎、箕水豹、斗木獬、牛金牛、女土貉、虛日鼠、危月燕、室火豬、壁水、奎木狼、婁金狗、胃土彘、昴日雞、畢月烏、觜火猴、參水猿、井木犴、鬼金羊、柳土獐、星日馬、張月鹿、翼火蛇、軫水蚓，領著金頭揭諦、銀頭揭諦、六甲六丁等神、護教伽藍，同八戒、沙僧，（不領唐三藏，丟了白龍馬）各執兵器，一擁而上。這妖王見了，呵呵冷笑，叫一聲哨子，有四五千大小妖精，一個個威強力勝，渾戰在西山坡上。好殺：魔頭潑惡欺真性，真性溫柔怎奈魔。百計施為難脫苦，千方妙用不能和。諸天來擁護，眾聖助干戈。留情虧木母，定志感黃婆。渾戰驚天並振地，強爭設網與張羅。那壁廂搖旗吶喊，這壁廂擂鼓篩鑼。槍刀密密寒光蕩，劍戟紛紛殺氣多。妖卒兇還勇，神兵怎奈何。愁雲遮日月，慘霧罩山河。苦掤苦拽來相戰，皆因三藏拜彌陀。
</p><p>卻說那孫行者抖搜神威，持著鐵棒，踏祥光，起在空中，迎面喝道：「你是那裏來的邪魔？待往何方猖獗？」那怪物厲聲高叫道：「吾黨不是別人，乃麒麟山獬豸洞賽太歲大王爺爺部下先鋒，今奉大王令，到此取宮女二名，伏侍金聖娘娘。你是何人，敢來問我？」行者道：「吾乃齊天大聖孫悟空，因保東土唐僧西天拜佛，路過此國，知你這夥邪魔欺主，特展雄才，治國祛邪。正沒處尋你，卻來此送命。」那怪聞言，不知好歹，展長槍就刺行者；行者舉鐵棒劈面相迎。在半空裏這一場好殺：棍是龍宮鎮海珍，槍乃人間轉煉鐵。凡兵怎敢比仙兵，擦著些兒神氣泄。大聖原來太乙仙，妖精本是邪魔孽。鬼祟焉能近正人，一正之時邪就滅。那個弄風播土諕皇王，這個踏霧騰雲遮日月。丟開架子賭輸贏，無能誰敢誇豪傑！還是齊天大聖能，乒乓一棍槍先折。
</p><p>蛾眉橫月小，蟬鬢疊雲新。
</p><p>原來這道士剝了衣裳，把手一齊抬起，只見那兩脅下有一千隻眼，眼中迸放金光，十分利害：森森黃霧，艷艷金光。森森黃霧，兩邊脅下似噴雲；艷艷金光，千隻眼中如放火。左右卻如金桶，東西猶似銅鐘。此乃妖仙施法力，道士顯神通：幌眼迷天遮日月，罩人爆燥氣朦朧；把個齊天孫大聖，困在金光黃霧中。
</p><p>那國丈聞言，付之一笑。用手指定唐僧道：「呵呵呵，你這和尚滿口胡柴。寂滅門中，須云認性。你不知那性從何而滅，枯坐參禪，盡是些盲修瞎煉。俗語云：『坐坐坐，你的屁股破。火熬煎，反成禍。』更不知我這：修仙者，骨之堅秀；達道者，神之最靈。攜簞瓢而入山訪友，採百藥而臨世濟人。摘仙花以砌笠，折香蕙以鋪裀。歌之鼓掌，舞罷眠雲。闡道法，揚太上之正教；施符水，除人世之妖氛。奪天地之秀氣，採日月之華精。運陰陽而丹結，按水火而胎凝。二八陰消兮，若恍若惚；三九陽長兮，如杳如冥。應四時而採取藥物，養九轉而修煉丹成。跨青鸞，升紫府；騎白鶴，上瑤京。參滿天之華采，表妙道之慇懃。比你那靜禪釋教，寂滅陰神，涅槃遺臭殼，又不脫凡塵。三教之中無上品，古來惟道獨稱尊。」
</p><p>大聖聞言，即令土地回去，與八戒跳過溪來，尋那顆楊樹。果然有九條叉枝，總在一顆根上。行者吩咐八戒：「你且遠遠的站定，待我叫開門，尋著那怪，趕將出來，你卻接應。」八戒聞命，即離樹有半里遠近立下。這大聖依土地之言，繞樹根，左轉三轉，右轉三轉，雙手齊撲其樹，叫：「開門，開門。」霎時間，一聲響喨，喇喇的門開兩扇，更不見樹的蹤跡。那裏邊光明霞采，亦無人煙。行者趁神威，撞將進去，但見那裏好個去處：煙霞晃亮，日月偷明。白雲常出洞，翠蘚亂漫庭。一徑奇花爭豔麗，遍階瑤草鬥芳榮。溫暖氣，景常春，渾如閬苑，不亞蓬瀛。滑凳攀長蔓，平橋掛亂藤。蜂啣紅蕊來巖窟，蝶戲幽蘭過石屏。
</p><p>師徒正自閑敘，又見一派黑松大林。唐僧害怕，又叫道：「悟空，我們才過了那崎嶇山路，怎麼又遇這個深黑松林？是必在意。」行者道：「怕他怎的？」三藏道：「說那裏話？『不信直中直，須防仁不仁。』我也與你走過好幾處松林，不似這林深遠？」你看：東西密擺，南北成行。東西密擺徹雲霄，南北成行侵碧漢。密查荊棘週圍結，蓼卻纏枝上下盤。藤來纏葛，葛去纏藤。藤來纏葛，東西客旅難行；葛去纏藤，南北經商怎進。這林中住半年，那分日月；行數里，不見斗星。你看那背陰之處千般景，向陽之所萬叢花。又有那千年槐，萬載檜，耐寒松，山桃果，野芍藥，旱芙蓉，一攢攢密砌重堆，亂紛紛神仙難畫。又聽得百鳥聲：鸚鵡哨，杜鵑啼；喜鵲穿枝，烏鴉反哺；黃鸝飛舞，百舌調音；鷓鴣鳴，紫燕語；八哥兒學人說話，畫眉郎也會看經。又見那大蟲擺尾，老虎磕牙；多年狐妝娘子，日久蒼狼吼振林。就是托塔天王來到此，縱會降妖也失魂。」
</p><p>那道人引定唐僧，直至三層門裏看處，比外邊甚是不同。但見那：青磚砌就彩雲牆，綠瓦蓋成琉璃殿。黃金裝聖像，白玉造階臺。大雄殿上舞青光，毘羅閣下生銳氣。文殊殿結采飛雲，輪藏堂描花堆翠。三簷頂上寶瓶尖，五福樓中平繡蓋。千株翠竹搖禪榻，萬種青松映佛門。碧雲宮裏放金光，紫霧叢中飄瑞靄。朝聞四野香風遠，暮聽山高畫鼓鳴。應有朝陽補破衲，豈無對月了殘經。又只見半壁燈光明後院，一行香霧照中庭。
</p><p>即時取了缽盂，往寺後面香積廚取水。忽見那些和尚一個個眼兒通紅，悲啼哽咽，只是不敢放聲大哭。行者道：「你們這些和尚忒小家子樣。我們住幾日，臨行謝你，柴火錢照日算還，怎麼這等膿包？」眾僧慌跪下道：「不敢，不敢。」行者道：「怎麼不敢？想是我那長嘴和尚食腸大，吃傷了你的本兒也？」眾僧道：「老爺，我這荒山，大大小小也有百十眾和尚，每一人養老爺一日，也養得起百十日。怎麼敢欺心，計較甚麼食用？」行者道：「既不計較，你卻為甚麼啼哭？」眾僧道：「老爺，不知是那山裏來的妖邪在這寺裏。我們晚夜間著兩個小和尚去撞鐘打鼓，只聽得鐘鼓響罷，再不見人回。至次日找尋，只見僧帽、僧鞋丟在後邊園裏，骸骨尚存，將人吃了。你們住了三日，我寺裏不見了六個和尚。故此，我兄弟們不由的不怕，不由的不傷。因見你老師父貴恙，不敢傳說，忍不住淚珠偷垂也。」行者聞言，又驚又喜道：「不消說了，必定是妖魔在此傷人也。等我與你剿除他。」眾僧道；「老爺，妖精不精者不靈。一定會騰雲駕霧，一定會出幽入冥。古人道得好：『莫信直中直，須防人不仁。』老爺，你莫怪我們說：你若拿得他住哩，便與我荒山除這條禍根，正是三生有幸了；若還拿他不住呵，卻有好些兒不便處。」行者道：「怎叫做好些不便處？」那眾僧道：「直不相瞞老爺說，我這荒山雖有百十眾和尚，卻都只是自小兒出家的：髮長尋刀削，衣單破衲縫。早晨起來洗著臉，叉手躬身，皈依大道；夜來收拾燒著香，虔心叩齒，念的彌陀。舉頭看見佛，蓮九品，三乘，慈航共法雲，願見祇園釋世尊；低頭看見心，受五戒，度大千，生生萬法中，願悟頑空與色空。諸檀越來呵，老的小的、長的矮的、胖的瘦的，一個個敲木魚，擊金磬，挨挨拶拶，兩卷《法華經》，一策《梁王懺》；諸檀越不來呵，新的舊的、生的熟的、村的俏的，一個個合著掌，瞑著目，悄悄冥冥，人定蒲團上，牢關月下門。一任他鶯啼鳥語閑爭鬥，不上我方便慈悲大法乘。因此上，也不會伏虎，也不會降龍；也不識的怪，也不識的精。你老爺若還惹起那妖魔呵，我百十個和尚只彀他齋一飽。一則墮落我眾生輪迴；二則滅抹了這禪林古跡；三則如來會上，全沒半點兒光輝。這卻是好些兒不便處。」
</p><p>你看他燈光前吩咐八戒、沙僧看守師父，他喜孜孜跳出方丈，徑來佛殿看時，天上有星，月還未上，那殿裏黑暗暗的。他就吹出真火，點起琉璃，東邊打鼓，西邊撞鐘。響罷，搖身一變，變做個小和尚兒，年紀只有十二三歲，披著黃絹褊衫，白布直裰，手敲著木魚，口裏念經。等到一更時分，不見動靜。二更時分，殘月才升，只聽見呼呼的一陣風響。好風：黑霧遮天暗，愁雲照地昏。四方如潑墨，一派靛妝渾。先刮時揚塵播土，次後來倒樹摧林。揚塵播土星光現，倒樹摧林月色昏。只刮得：嫦娥緊抱梭羅樹，玉兔團團找藥盆；九曜星官皆閉戶，四海龍王盡掩門；廟裏城隍覓小鬼，空中仙子怎騰雲；地府閻羅尋馬面，判官亂跑趕頭巾。刮動崑崙頂上石，捲得江湖波浪混。那風才然過處，猛聞得蘭麝香熏，環珮聲響。即欠身抬頭觀看，呀！卻是一個美貌佳人，徑上佛殿。行者口裏嗚哩嗚喇，只情念經。那女子走近前，一把摟住道：「小長老，念的甚麼經？」行者道：「許下的。」女子道：「別人都自在睡覺，你還念經怎麼？」行者道：「許下的，如何不念？」女子摟住，與他親個嘴道：「我與你到後面耍耍去。」行者故意的扭過頭去道：「你有些不曉事。」女子道：「你會相面？」行者道：「也曉得些兒。」女子道：「你相我怎的樣子？」行者道：「我相你有些兒偷生熟，被公婆趕出來的。」女子道：「相不著，相不著。我
</p><p>這妖精開了格子，攙出唐僧。你看他許多小妖，都是油頭粉面，嬝娜娉婷，簇簇擁擁，與唐僧徑上花園而去。好和尚，他在這綺羅隊裏無他故，錦繡叢中作啞聾。若不是這鐵打的心腸朝佛去，第二個酒色凡夫也取不得經。一行都到了花園之外，那妖精俏語低聲，叫道：「妙人哥哥，這裏耍耍，真可散心釋悶。」唐僧與他攜手相攙，同入園內，抬頭觀看，其實好個去處。但見那：縈迴曲逕，紛紛盡點蒼苔；窈窕綺窗，處處暗籠繡箔。微風初動，輕飄飄展開蜀錦吳綾；細雨才收，嬌滴滴露出冰肌玉質。日灼鮮杏，紅如仙子曬霓裳；月映芭蕉，青似太真搖羽扇。粉牆四面，萬株楊柳囀黃鸝；閑館周圍，滿院海棠飛粉蝶。更看那凝香閣、青蛾閣、解酲閣、相思閣，層層捲映，朱簾上鉤控鬚，又見那養酸亭、披素亭、畫眉亭、四雨亭，個個崢嶸，華扁上字書鳥篆。看那浴鶴池、洗觴池、怡月池、濯纓池，青萍綠藻耀金鱗；又有墨花軒、異箱軒、適趣軒、慕雲軒，玉斗瓊卮浮綠蟻。池亭上下，有太湖石、紫英石、鸚落石、錦川石，青青栽著虎鬚蒲；軒閣東西，有木假山、翠屏山、嘯風山、玉芝山，處處叢生鳳尾竹。荼架、薔薇架，近著鞦韆架，渾如錦帳羅幃；松柏亭、辛夷亭，對著木香亭，卻似碧城繡幙。芍藥欄，牡丹叢，朱朱紫紫鬥穠華；夜合臺，茉藜檻，歲歲年年生嫵媚。涓涓滴露紫含笑，堪畫堪描；豔豔燒空紅佛桑，宜題宜賦。論景致，休誇閬苑蓬萊；較芳菲，不數姚黃魏紫。若到三春閑鬥草，園中只少玉瓊花。
</p><p>立在雲端裏，往下觀看。只見那城中喜氣沖融，祥光蕩漾。行者道：「好個去處，為何滅法？」看一會，漸漸天昏，又見那：十字街燈光燦爛，九重殿香藹鐘鳴。七點皎星照碧漢，八方客旅卸行蹤。六軍營，隱隱的畫角才吹；五鼓樓，點點的銅壺初滴。四邊宿霧昏昏，三市寒煙藹藹。兩兩夫妻歸繡幙，一輪明月上東方。
</p><p>那大聖使個攝法，早已駕雲出去。復翻身，徑至路下坑坎邊前。三藏見星光月皎，探身凝望，見是行者來至近前，即開口叫道：「徒弟，可過得滅法國麼？」行者上前放下衣物道：「師父，要過滅法國，和尚做不成。」八戒道：「哥，你勒掯那個哩？不做和尚也容易，只消半年不剃頭，就長出毛來也。」行者道：「那裏等得半年？眼下就都要做俗人哩。」那獃子慌了道：「但你說話，通不察理。我們如今都是和尚，眼下要做俗人，卻怎麼戴得頭巾？就是邊兒勒住，也沒收頂繩處。」三藏喝道：「不要打花，且幹正事。端的何如？」行者道：「師父，他這城池，我已看了，雖是國王無道殺僧，卻倒是個真天子，城上有祥光喜氣。城中的街道，我也認得。這裏的鄉談，我也省得，會說。卻才在飯店內借了這幾件衣服、頭巾，我們且扮作俗人，進城去借了宿，至四更天就起來，教店家安排了齋吃。捱到五更時候，挨城門而去，奔大路西行。就有人撞見扯住，也好折辨：只說是上邦欽差的，滅法王不敢阻滯，放我們來的。」沙僧道：「師兄處的最當，且依他行。」
</p><p>那賊得了手，不往西去，倒抬向城東，殺了守門的軍，打開城門出去。當時就驚動六街三市各鋪上火甲人夫，都報與巡城總兵、東城兵馬司。那總兵、兵馬事當干己，即點人馬弓兵，出城趕賊。那賊見官軍勢大，不敢抵敵，放下大櫃，丟了白馬，各自落草逃走。眾官軍不曾拿得半個強盜，只是奪下櫃，捉住馬，得勝而回。總兵在燈光下見那馬，好馬：鬃分銀線，尾玉條。說甚麼八駿龍駒，賽過了驌驦款段。千金市骨，萬里追風。登山每與青雲合，嘯月渾如白雪勻。真是蛟龍離海島，人間喜有玉麒麟。
</p><p>珍樓壯麗，寶座崢嶸。佛閣高雲外，僧房靜月中。丹霞縹緲浮屠挺，碧樹陰森輪藏清。真淨土，假龍宮，大雄殿上紫雲籠。兩廊不絕閑人戲，一塔常開有客登。爐中香火時時爇，臺上燈花夜夜熒。忽聞方丈金鐘韻，應佛僧人朗誦經。
</p><p>師徒們玩賞一日，殿上看了燈，又都去看燈遊戲。但見那：瑪瑙花城，琉璃仙洞，水晶雲母諸宮：似重重錦繡，疊疊玲瓏。星橋影晃乾坤動，看數株火樹搖紅。六街簫鼓，千門璧月，萬戶香風。幾處鰲峰高聳，有魚龍出海，鸞鳳騰空。羨燈光月色，和氣融融。綺羅隊裏，人人喜聽笙歌。車馬轟轟：看不盡花容玉貌，風流豪俠，佳景無窮。
</p><p>此夜正是十五元宵。眾僧道：「老師父，我們前晚只在荒山與關廂看燈，今晚正節，進城看看金燈如何？」唐僧欣然從之，同行者三人及本寺多僧進城看燈。正是：三五良宵節，上元春色和。花燈懸鬧市，齊唱太平歌。又見那六街三市燈亮，半空一鑑初升。那月如馮夷推上爛銀盤，這燈似仙女織成鋪地錦。燈映月，增一倍光輝；月照燈，添十分燦爛。觀不盡鐵鎖星橋，看不了燈花火樹。雪花燈、梅花燈，春冰剪碎；繡屏燈、畫屏燈，五彩攢成。核桃燈、荷花燈，燈樓高掛；青獅燈、白象燈，燈架高檠。蝦兒燈、鱉兒燈，棚前高弄；羊兒燈、兔兒燈，簷下精神。鷹兒燈、鳳兒燈，相連相併；虎兒燈、馬兒燈，同走同行。仙鶴燈、白鹿燈，壽星騎坐；金魚燈、長鯨燈，李白高乘。鰲山燈，神仙聚會；走馬燈，武將交鋒。萬千家燈火樓臺，十數里雲煙世界。那壁廂，索琅琅玉飛來；這壁廂，轂轆轆香車輦過。看那紅妝樓上，倚著欄，隔著簾，並著肩，攜著手，雙雙美女貪歡；綠水橋邊，鬧吵吵，錦簇簇，醉醺醺，笑呵呵，對對遊人戲彩。滿城中簫鼓諠譁，徹夜裏笙歌不斷。
</p><p>大聖在山崖上正自找尋路徑，只見四個人趕著三隻羊，從西坡下，齊吆喝：「開泰。」大聖閃火眼金睛，仔細觀看，認得是年、月、日、時四值功曹使者，隱像化形而來。大聖即掣出鐵棒，幌一幌，碗來粗細，有丈二長短。跳下崖來，喝道：「你都藏頭縮頸的那裏走？」四值功曹見他說出風息，慌得喝散三羊，現了本相，閃下路傍施禮道：「大聖恕罪，恕罪。」行者道：「這一向也不曾用著你們，你們見老孫寬慢，都一個個弄懈怠了，見也不來見我一見，是怎麼說？你們怎麼不暗中保祐吾師，都往那裏去？」功曹道：「你師父寬了禪性，在於金平府慈雲寺貪歡，所以泰極生否，樂盛成悲，今被妖邪捕獲。他身邊有護法伽藍保著哩。吾等知大聖連夜追尋，恐大聖不識山林，特來傳報。」行者道：「你既傳報，怎麼隱姓埋名，趕著三個羊兒，吆吆喝喝作甚？」功曹道：「設此三羊，以應開泰之言，喚做『三陽開泰』，破解你師之否塞也。」行者恨恨的要打，見有此意，卻就免之，收了棒，回嗔作喜道：「這座山可是妖精之處？」功曹道：「正是，正是。此山名青龍山，內有洞，名玄英洞。洞中有三個妖精：大的個名辟寒大王，第二個號辟暑大王，第三個號辟塵大王。這妖精在此有千年了。他自幼兒愛食酥合香油，當年成精，到此假裝佛像，哄了金平府官員人等，設立金燈，燈油用酥合香油。他年年到正月半，變佛像收油。今年見你師父，他認得是聖僧之身，連你師父都攝在洞內，不日要割剮你師之肉，使酥合香油煎吃哩。你快用工夫，救援去也。」
</p><p>正說處，眾僧道：「孫老爺可吃晚齋？」行者道：「方便吃些兒，不吃也罷。」眾僧道：「老爺征戰這一日，豈不饑了？」行者笑道：「這日把兒那裏便得饑？老孫曾五百年不吃飲食哩。」眾僧不知是實，只以為說笑。須臾拿來，行者也吃了。道：「且收拾睡覺，待明日我等都去相持，拿住妖王，庶可救師父也。」沙僧在傍道：「哥哥說那裏話！常言道：『停留長智。』那妖精倘或今晚不睡，把師父害了，卻如之何？不若如今就去，嚷得他措手不及，方才好救師父。少遲，恐有失也。」八戒聞言，抖擻神威道：「沙兄弟說得是，我們都趁此月光去降魔耶。」行者依言，即吩咐寺僧：「看守行李、馬匹，待我等把妖精捉來，對本府刺史證其假佛，免卻燈油，以蘇概縣小民之困，卻不是好？」眾僧遵命。他三個遂縱起祥雲，出城而去。正是那：
</p><p>師徒們索性寬懷領受。又被那二百四十家燈油大戶這家酬，那家請，略無虛刻。八戒遂心滿意受用，把洞裏搜來的寶物，每樣各籠些須在袖，以為各家齋筵之賞。住經個月，猶不得起身。長老吩咐：「悟空，將餘剩的寶物盡送慈雲寺僧，以為酬禮。瞞著那些大戶人家，天不明走罷。恐只管貪樂，誤了取經，惹佛祖見罪，又生災厄，深為不便。」行者隨將前件一一處分。
</p><p>師徒說話，不覺早已入更。正是：沉沉宮漏，廕廕花香。繡戶垂珠箔，閑庭絕火光。鞦韆索冷空留影，羌笛聲殘靜四方。繞屋有花籠月燦，隔空無樹顯星芒。杜鵑啼歇，蝴蝶夢長。銀漢橫天宇，白雲歸故鄉。正是離人情切處，風搖嫩柳更淒涼。
</p><p>那大聖見了，不勝欣喜，踏雲光，向前引導。那太陰君領著眾姮娥仙子，帶著玉兔兒，徑轉天竺國界。此時正黃昏，看看月上。到城邊，聞得譙樓上擂鼓。那國王與唐僧尚在殿內，八戒、沙僧與多官都在階前，方議退朝，只見正南上一片彩霞，光明如晝。眾抬頭看處，又聞得孫大聖厲聲高叫道：「天竺陛下，請出你那皇后、嬪妃看者：這寶幢下乃月宮太陰星君，兩邊的仙妹是月裏嫦娥。這個玉兔兒卻是你家的假公主，今現真相也。」那國王急召皇后、嬪妃與宮娥、彩女等眾朝天禮拜，他和唐僧及多官亦俱望空拜謝。滿城中各家各戶，也無一人不設香案，叩頭念佛。正此觀看處，豬八戒動了慾心，忍不住，跳在空中，把霓裳仙子抱住道：「姐姐，我與你是舊相識，我和你耍子兒去也。」行者上前，揪著八戒，打了兩掌，罵道：「你這個村潑獃子！此是甚麼去處，敢動淫心？」八戒道：「拉閑散悶耍子而已。」那太陰君令轉仙幢，與眾嫦娥收回玉兔，徑上月宮而去。行者把八戒揪落塵埃。
</p><p>這國王在殿上謝了行者，又問前因道：「多感神僧大法力捉了假公主。朕之真公主，卻在何處所也？」行者道：「你那真公主也不是凡胎，就是月宮裏素娥仙子。因十八年前，他將玉兔兒打了一掌，就思凡下界，投胎在你正宮腹內，生下身來。那玉兔兒懷恨前仇，所以於舊年間偷開玉關金鎖走下來，把素娥攝拋荒野，他卻變形哄你。這段因果，是太陰君親口才與我說的。今日既去其假者，明日請御駕去尋其真者。」國王聞說，又心意慚惶，止不住腮邊流淚道：「孩兒，我自幼登基，雖城門也不曾出去，卻教我那裏去尋你也？」行者笑道：「不須煩惱，你公主現在給孤布金寺裏裝風，今且各散，到天明我還你個真公主便是。」眾官又拜伏奏道：「我王且心寬，這幾位神僧乃騰雲駕霧之佛，必知未來過去之因由，明日煩神僧同去一尋，便知端的。」國王依言，即請至留春亭擺齋安歇。此時已近二更。正是那：
</p><p>說不盡那朝餐暮宿，轉澗尋波。在那平安路上，行經半月。前邊又見一城垣相近。三藏問道：「徒弟，此又是甚麼去處？」行者道：「不知，不知。」八戒笑道：「這路是你行過的，怎說不知？卻是又有些兒蹺蹊，故意推不認得，捉弄我們哩。」行者道：「這獃子全不察理。這路雖是走過幾遍，那時只在九霄空裏，駕雲而來，駕雲而去，何曾落在此地？事不關心，查他做甚？此所以不知。卻有甚蹺蹊，又捉弄你也？」
</p><p>你看那上湯的上湯，添飯的添飯，一往一來，真如流星趕月。這豬八戒一口一碗，就是風捲殘雲。師徒們盡受用了一頓。長老起身，對員外謝了齋，就欲走路。那員外攔住道：「老師，放心住幾日兒。常言道：『起頭容易結梢難。』只等我做過了圓滿，方敢送程。」三藏見他心誠意懇，沒奈何住了。
</p><p>師徒方登岸整理，忽又一陣狂風，天色昏暗，雷閃並作，走石飛沙。但見那：一陣風，乾坤播蕩﹔一聲雷，振動山川。一個熌，鑽雲飛火﹔一天霧，大地遮漫。風氣呼號，雷聲激烈。熌掣紅銷，霧迷星月。風鼓的沙塵撲面，雷驚的虎豹藏形。熌晃的飛禽叫噪，霧漫的樹木無蹤。那風攪得個通天河波浪翻騰，那雷振得個通天河魚龍喪膽。那熌照得個通天河徹底光明，那霧蓋得個通天河岸崖昏慘。好風，頹山烈石松篁倒。好雷，驚蟄傷人威勢豪。好熌，流天照野金蛇走。好霧，混混漫空蔽九霄。
</p><p>卻說八大金剛使第二陣香風，把他四眾，不一日送至東土，漸漸望見長安。原來那太宗自貞觀十三年九月望前三日送唐僧出城，至十六年，即差工部官在西安關外起建了望經樓接經。太宗年年親至其地。恰好那一日出駕復到樓上，忽見正西方滿天瑞靄，陣陣香風。金剛停在空中叫道：“聖僧，此間乃長安城了。我們不好下去，這裏人伶俐，恐泄漏吾像。孫大聖三位也不消去。汝自去傳了經與汝主，即便回來，我在霄漢中等你，與你一同繳旨。”大聖道：“尊者之言雖當，但吾師如何挑得經擔？如何牽得這馬？須得我等同去一送。煩你在空少等，諒不敢誤。”金剛道：“前日觀音菩薩啟過如來，往來只在八日，方完藏數。今已經四日有餘，只怕八戒貪圖富貴，誤了期限。”八戒笑道：“師父成佛，我也望成佛，豈有貪圖之理？潑大粗人？都在此等我，待交了經，就來與你回向也。”獃子挑著擔，沙僧牽著馬，行者領著聖僧，都按下雲頭，落於望經樓邊。
</p><p>次早，太宗升朝，對群臣言曰：“朕思御弟之功，至深至大，無以為酬。一夜無寐，口占幾句俚談，權表謝意，但未曾寫出。”叫：“中書官來，朕念與你，你一一寫之。”其文蓋云：嘗聞二儀有象，顯覆載以含生﹔四序無形，潛寒暑以化物。是以窺天鑑地，庸愚皆識其端﹔明陰洞陽，賢哲罕窮其數。然天地包乎陰陽而易識者，以其有象也﹔陰陽處乎天地而難窮者，以其無形也。故知象顯可證，雖愚不惑﹔形潛莫睹，在智猶迷。況乎佛道沖虛，乘幽空寂。宏濟萬品，典御十方。舉威靈而無上，抑神力而無下。大之則彌於宇宙，細之則攝於毫釐。無滅無生，歷千仞而亙古﹔若潛若顯，運百福而長今。妙道凝玄，遵導莫知其際﹔法流湛寂，挹挹莫測其源。故知蠢蠢凡愚，區區庸鄙，投其旨趣，能無疑惑者哉？然大教之興，基乎西土。騰漢庭而皎夢，照東域而流慈。古者卜形卜跡之時，言未馳而成化。當常見常隱之世，民仰德而知遵。及乎晦影歸真，遷移越世，金容掩色，不鏡三千之光﹔麗像開圖，空端四八之相。於是微言廣被，拯禽類於三途﹔遺訓遐宣，導群生於十地。佛有經，能分大小之乘﹔更有法，傳訛邪正之術。我僧玄奘法師者，法門之領袖也。幼懷真敏，早悟三空之功﹔長契神清，先包四忍之行。松風水月，未足比其清華﹔仙露明珠，詎能方其朗潤？故以智通無累，神測未形。超六塵而迥出，使千古而傳芳。凝心內境，悲正潛靈﹔栖慮玄門，多門訛謬。思欲分條，是以翹心淨土，策杖孤征。積雪晨飛，途間失地﹔驚沙夕起，空外迷天。萬里山川，撥煙霞而進步﹔百重寒暑，歷霜雨而前蹤。誠重勞輕，求深欲達。周遊西宇，十有四年。窮歷異邦，詢求正教。雙林八水，味道餐風﹔鹿苑鷲峰，瞻奇仰異。承至言於先聖，受真教於上賢。探賾妙門，精窮奧業。三乘六律之道，馳驟於心田﹔一藏百篋之文，波濤於海口。爰自所歷之國無涯，求取之經有數。總得大乘要文凡三十五部，計五千四十八卷，譯布中華，宣揚勝業。引慈雲於西極，注法雨於東陲。聖教缺而復全，蒼生罪而還福。溫火宅之乾焰，共拔幽途﹔朗金水之混波，同臻彼岸。是知惡因業墜，善以緣昇。昇墜之端，惟人自作。譬之桂生高嶺，凌雲方得泫其華﹔蓮出綠波，飛塵不能染其葉。非蓮性自潔而桂質本貞，由所負者高，則微物不能累﹔所憑者淨，則濁類不能沾。夫以卉木無知，猶資善而成善，矧以人倫有識，寧不緣慶而成慶哉？方冀茲經傳佈，並日月而無窮﹔景福遐敷，與乾坤而永大也歟！
</p>